.select-user{
  z-index: 801;
  text-align: left;
  width: 80%;
  right: 0;
  margin-left: 20%;
}
.select-user__value-container{
  height: 35px;
 }
 .application-id{
   position: relative;
 }
.btn-pos {
  padding: 0.30rem 0.5rem !important;
  border-radius: 0 !important;
  border: 1px solid rgb(184, 184, 184) !important;
}

