.select-user{
  z-index: 801;
  text-align: left;
  width: 90%;
  right: 0;
  margin-left: 10%;
  color:#2780e3;
}
.select-user__value-container{
  height: 35px;
 }
 .application-id{
   position: relative;
 }
.btn-pos {
  padding: 0.30rem 0.5rem !important;
  border-radius: 0 !important;
  border: 1px solid rgb(184, 184, 184) !important;
}
.group-align{
display:-webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
word-break: break-all;
}
.word-break{
  word-break: break-all;
}
.modal-scroll{
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
}
