gunicorn
Flask
Flask-Caching
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
flask-restx
flask-marshmallow
flask-jwt-oidc
python-dotenv
psycopg2-binary
marshmallow-sqlalchemy
requests
Werkzeug
sqlalchemy_utils
markupsafe
PyJWT
selenium
selenium-wire
