include requirements.txt
include src/*/logging.conf
include LICENSE
include README.md
recursive-include src/api/services/models/
include src/api/services/models/quick-spacy/*.json
include src/api/services/models/quick-spacy/*
include src/api/services/models/quick-spacy/tagger/tag_map
include src/api/services/models/quick-spacy/tagger/cfg
include src/api/services/models/quick-spacy/tagger/model
include src/api/services/models/quick-spacy/ner/cfg
include src/api/services/models/quick-spacy/ner/model
include src/api/services/models/quick-spacy/ner/moves
include src/api/services/models/quick-spacy/parser/cfg
include src/api/services/models/quick-spacy/parser/model
include src/api/services/models/quick-spacy/parser/moves
include src/api/services/models/quick-spacy/vocab/key2row
include src/api/services/models/quick-spacy/vocab/lexemes.bin
include src/api/services/models/quick-spacy/vocab/lookups_extra.bin
include src/api/services/models/quick-spacy/vocab/lookups.bin
include src/api/services/models/quick-spacy/vocab/lookups.bin
include src/api/services/models/quick-spacy/vocab/vectors
include src/api/services/models/quick-spacy/vocab/*.json
include src/api/services/models/quick-spacy/tokenizer
