Flask-Caching==1.10.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask==1.1.4
Jinja2==2.11.3
Mako==1.1.6
MarkupSafe==2.0.1
SQLAlchemy-Utils==0.37.9
SQLAlchemy==1.4.28
Werkzeug==1.0.1
alembic==1.7.5
aniso8601==9.0.1
attrs==21.2.0
cachelib==0.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==7.1.2
ecdsa==0.17.0
flask-jwt-oidc==0.3.0
flask-marshmallow==0.14.0
flask-restx==0.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
itsdangerous==1.1.0
jsonschema==4.2.1
marshmallow-sqlalchemy==0.26.1
marshmallow==3.14.1
psycopg2-binary==2.9.2
pyasn1==0.4.8
pyrsistent==0.18.0
python-dotenv==0.19.2
python-jose==3.3.0
pytz==2021.3
requests==2.26.0
rsa==4.8
six==1.16.0
urllib3==1.26.7
zipp==3.6.0
