Flask-Caching==1.10.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask==1.1.4
Jinja2==2.11.3
Mako==1.1.6
MarkupSafe==2.0.1
SQLAlchemy-Utils==0.38.2
SQLAlchemy==1.4.31
Werkzeug==1.0.1
alembic==1.7.6
aniso8601==9.0.1
attrs==21.4.0
cachelib==0.6.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==7.1.2
ecdsa==0.17.0
flask-jwt-oidc==0.3.0
flask-marshmallow==0.14.0
flask-restx==0.5.1
gunicorn==20.1.0
idna==3.3
itsdangerous==1.1.0
jsonschema==4.4.0
marshmallow-sqlalchemy==0.27.0
marshmallow==3.14.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyrsistent==0.18.1
python-dotenv==0.19.2
python-jose==3.3.0
pytz==2021.3
requests==2.27.1
rsa==4.8
six==1.16.0
urllib3==1.26.8
