Brotli==1.1.0
Flask-Caching==2.0.1
Flask-Migrate==4.0.7
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.1.1
Flask==2.3.3
Jinja2==3.1.4
Mako==1.3.8
MarkupSafe==3.0.2
PyJWT==2.10.1
PySocks==1.7.1
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.36
Werkzeug==3.1.3
alembic==1.14.0
aniso8601==9.0.1
attrs==24.2.0
blinker==1.9.0
cachelib==0.13.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==44.0.0
ecdsa==0.19.0
flask-jwt-oidc==0.7.0
flask-marshmallow==1.2.1
flask-restx==1.3.0
formsflow_api_utils @ git+https://github.com/auslin-aot/forms-flow-ai.git@feature/fwf-3749-application-get-api-changes#subdirectory=forms-flow-api-utils
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
importlib_resources==6.4.5
itsdangerous==2.2.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
kaitaistruct==0.10
lxml==5.3.0
marshmallow-sqlalchemy==1.1.0
marshmallow==3.23.1
outcome==1.3.0.post0
packaging==24.2
psycopg2-binary==2.9.10
pyOpenSSL==24.3.0
pyasn1==0.6.1
pycparser==2.22
pyparsing==3.2.0
python-dotenv==1.0.1
python-jose==3.3.0
pytz==2024.2
redis==5.2.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
rsa==4.9
selenium-wire==5.1.0
selenium==4.27.1
sentry-sdk==2.19.2
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio-websocket==0.11.1
trio==0.27.0
typing_extensions==4.12.2
urllib3==2.2.3
websocket-client==1.8.0
wsproto==1.2.0
zstandard==0.23.0
