# FormIO MongoDB Configuration
FORMIO_MONGO_HOST=mongodb.example.com
FORMIO_MONGO_PORT=27017
FORMIO_MONGO_USERNAME=formio_user
FORMIO_MONGO_PASSWORD=secure_mongodb_password
FORMIO_MONGO_OPTIONS=retryWrites=true&w=majority

#formio single uri
FORMIO_MONGO_DB_URI=mongodb://localhost:27017
FORMIO_MONGO_DATABASE=formio

# Web API PostgreSQL Configuration
WEB_API_DB_HOST=postgres.example.com
WEB_API_DB_PORT=5432
WEB_API_DB_USERNAME=webapi_user
WEB_API_DB_PASSWORD=secure_postgres_password
WEB_API_DB_NAME=webapi_database
WEB_API_DB_OPTIONS=sslmode=require

# BPM PostgreSQL Configuration
BPM_DB_HOST=bpm-postgres.example.com
BPM_DB_PORT=5432
BPM_DB_USERNAME=bpm_user
BPM_DB_PASSWORD=another_secure_password
BPM_DB_NAME=bpm_database
BPM_DB_OPTIONS=sslmode=require

# Debug Setting
DEBUG=True
REDIS_URL=redis://localhost:6379
CORS_ALLOWED_ORIGINS

#kecloak  envs
JWT_OIDC_JWKS_URI
JWT_OIDC_ISSUER
JWT_OIDC_AUDIENCE