@import "./../../assets/styles/themes.scss";

.insights {
  background: $white;
  margin-top: 10px;
  & .line-hr {
    border-top: 1px solid $light-blue;
  }
  & .card-counter {
    width: 100%;
    margin: 25px 0px;
    & .white-box {
      background: $white;
      padding: 25px;
      margin-bottom: 30px;
      & .box-title {
        margin: 0 0 12px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  & .app-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .dashboard-icon-style {
    width: 20px;
    margin-bottom: 7px;
  }
  & .insight-title {
    margin-bottom: -5px;
    color: $black;
  }
}
.div-middle
{
  margin-top: 10%;
}
#app {
  background: $white;
}
