.review-box{
    // background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    opacity: 1;
    min-height: 207px;
    padding: 26px 25px;
    a{
        color: #015FBB !important;
    }
}
.review-section{
    border-left: 1px solid #ECECEC;
    height: 285px;
    padding: 14.5px;
}
.review-status{
    label{
        font-size: 18px;
        font-weight: 600;
    }
    select{
        width: auto;
        height: 38px;
        padding: 0.375rem 0.75rem;
        font-size: 16px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-bottom: 10px;
    }
}
.btn-wrapper {
    button{
        color: white !important;
        font-size: 14px !important;
        width: 94px;
        height: 40px;
    }
}
.task-head
{
    font-weight: bold;
    font-size:30px;
    margin-left: 10px !important;
    display: flex;
}
.icon-wp-forms{
  height: 30px;
}
.forms-text{
  vertical-align: middle;
  margin-left: 10px;
}
.task-head-icons{
  height: 30px;
  width: 30px;
}
.task-head-details
{
    font-weight: bold;
    font-size:30px;
    margin-left: 10px !important;
}
.order,.react-bootstrap-table-sort-order
{
    float: right;
}
.react-bootstrap-table th>.react-bootstrap-table-sort-order>.caret
{
    margin: 0px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    }

    // .dropup, .dropdown {
    // position: relative;
    // }
    .dropdown {
    left: 8px;
     top: 6px;
    }
    .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
    }
.pagination
{
    margin-right: 60px;
    float: right;
}
.icon-search {
    font-family: Nunito Sans,SemiBold, FontAwesome;
    font-size: 14px;
    color: #E2E2E2;
  }
  .react-bootstrap-table th.sortable
{
    vertical-align: sub;
}
.react-bootstrap-table-pagination-total
{
    margin-left: 20px;
}
.task-count
{
    font-size: 20px;
    margin-top: 7px;
    margin-left: 1px !important;
    margin-right: 25px !important;
}
.div-no-task
{
    margin-top: 10%;
    margin-bottom: 10%;
}
.lbl-no-task
{
    font-size: 21px;
    font-weight: bold;
}
.lbl-no-task-desc
{
    font-size: 15px;
}
.div-no-task-list
{
    margin-top: 15%;
    margin-bottom: 20%;
}
.task-btn
{
    font-size: 15px;
}
.lbl-clear
{
    font-size: 15px;
    color:#015FBB;
    cursor: pointer;
    text-decoration: underline;
}
.page-link
{
    color: black !important;
}
.page-link:focus
{
    box-shadow: none !important;
}
.page-item.active .page-link
{
    color:#ffff !important;
}
.main-header
{
    margin-left: 0px !important;
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 30px;
}

.table{
    th, td
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p{
        color: rgb(26, 90, 150);
        text-decoration: underline;
        background-color: transparent;
        cursor: pointer;
    }
}
.filter-label
{
    display: flex !important;
}
.review-status{
    margin-top: 2rem;
    select:disabled {
        color: rgb(170, 170, 170);
        cursor: not-allowed;
    }
}
