.review-box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    opacity: 1;
    min-height: 207px;
    padding: 26px 25px;
    a{
        color: #015FBB !important;
    }
}
.review-section{
    border-left: 1px solid #ECECEC;
    height: 285px;
    padding: 14.5px 0 13.5px 67.5px;
}
.btn-wrapper {
    button{
        color: white !important;
        font-size: 14px !important;
        width: 94px;
        height: 40px;
    }
}