.badge-pill {
    cursor: default;
    border: 1px solid !important;
    color: var(--color-gray-800);
    background-color: transparent !important;
    height: 32px !important;
    padding: 10px !important;
}

.text-hover {
    font-size: 18px;
    transition: font-size 0.3s ease;
    margin: 2px;
    /* Add transition effect */
}

.text-hover:hover {
    font-size: 18.14px !important;
}

.badge-deleteIcon {
    font-size: 18px;
    color: var(--color-white);
    border-radius: 22px;
    background-color: var(--color-gray-400);
    width: 18px !important;
    cursor: pointer;
    height: 18px !important;
    -webkit-tap-highlight-color: transparent !important;
}

.badge-deleteIcon:hover {
    background-color: var(--color-gray-600) !important;
}

.poper {
    max-height: 444px;
    overflow-y: auto;
}

.workflow-taskVariable {
    border-bottom: 3px solid var(--color-primary) !important;
}

.add-task{
    margin-top: 25px;
}
.show-in-list{
    margin-top: 34px;    
}