.access-denied-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .access-denied{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }