#To define project level congirution  possible values development,test,production

NODE_ENV=development

##Environment Vaiables for Postgres DB##

POSTGRES_USER=<Postgres Root Username>
POSTGRES_PASSWORD=<Postgres Root Password>
POSTGRES_DB=<Postgres Database Name>
PGADMIN_DEFAULT_EMAIL=<PGAdmin default email>
PGADMIN_DEFAULT_PASSWORD=<PGAdmin default password>
PGADMIN_PORT=<PGAdmin Port>

##Environment Vaiables for Mongo DB##

MONGO_INITDB_ROOT_USERNAME=<Mongo Root Username>
MONGO_INITDB_ROOT_PASSWORD=<Mongo Root Password>
MONGO_INITDB_DATABASE=<Mongo Database Name>
MONGO_REPLICA_SET_NAME=<Mongo Replica set name: rs0>

##Environment Vaiables for KEYCLOAK##

KEYCLOAK_URL=<KEYCLOAK-Domain-URL>
KEYCLOAK_REALM=<KEYCLOAK-Realm>
KEYCLOAK_CLIENTID=<KEYCLOAK-CLIENT-ID>
KEYCLOAK_CLIENTSECRET=<KEYCLOAK-CLIENT-Secret>

##Environment Vaiables for forms-flow-web##

# KEYCLOAK-CLIENT-Roles
REACT_APP_CLIENT_ROLE = rpas-client
REACT_APP_STAFF_DESIGNER_ROLE = rpas-formdesigner
REACT_APP_STAFF_REVIEWER_ROLE = rpas-reviewer
# Form-IO-Client-Id
REACT_APP_CLIENT_ID = <Form-IO-SERVERS Client role-Id>
# Form-IO-Reviewer-Id
REACT_APP_STAFF_REVIEWER_ID = <Form-IO-SERVERS Reviewer role-Id>
# Form-IO-Administrator-Id
REACT_APP_STAFF_DESIGNER_ID = <Form-IO-SERVERS Administrator role-Id>
# Form-IO USER FORM FORM_ID
REACT_APP_USER_RESOURCE_FORM_ID = <Form-IO-SERVERS User forms form-Id>
# Form-IO API-URL
REACT_APP_API_SERVER_URL = http://localhost:3001
# Form-IO API-PROJECT-URL
REACT_APP_API_PROJECT_URL = http://localhost:3001
# If need to change Keycloak.json Path
REACT_APP_KEYCLOAK_JSON=/keycloak.json
# Keycloak-client-name for web
REACT_APP_KEYCLOAK_CLIENT=forms-flow-web

##Environment Vaiables for forms-flow-bpm##

# BPM-API-URL
REACT_APP_BPM_API_BASE=http://localhost:8000
# BPM TOKEN URL
REACT_APP_BPM_TOKEN_API=http://localhost:8080/auth/realms/forms-flow-ai/protocol/openid-connect/token
# Secret Key for BPM
REACT_APP_BPM_CLIENT_ID=<BPM CLIENT SECRET KEY HERE>
# Keycloak-client-name for BPM
REACT_APP_KEYCLOAK_BPM_CLIENT=forms-flow-bpm

# JDBC DB Connection URL for BPM-API

JDBC_URL=jdbc:postgresql://forms-flow-bpm-db:5432/postgres		
JDBC_USER=<USER>		
JDBC_PASSWORD=<Password>		
JDBC_DRIVER=org.postgresql.Driver
