# Set variables

keycloak.url: ${KEYCLOAK_URL}
keycloak.url.realm: ${KEYCLOAK_URL_REALM}
keycloak.clientId: ${KEYCLOAK_CLIENTID}
keycloak.clientSecret: ${KEYCLOAK_CLIENTSECRET}

spring.datasource:
  jdbc-url: ${CAMUNDA_JDBC_URL:jdbc:h2:./camunda-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
  username: ${CAMUNDA_JDBC_USER:sa}
  password: ${CAMUNDA_JDBC_PASSWORD:sa}
  driverClassName: ${CAMUNDA_JDBC_DRIVER:org.h2.Driver}
  type: com.zaxxer.hikari.HikariDataSource
  connectionTimeout: ${CAMUNDA_HIKARI_CONN_TIMEOUT:30000}
  idleTimeout: ${CAMUNDA_HIKARI_IDLE_TIMEOUT:600000}
  maximumPoolSize: ${CAMUNDA_HIKARI_MAX_POOLSIZE:10}
  validationTimeout: ${CAMUNDA_HIKARI_VALID_TIMEOUT:5000}

# Session Management in JDBC
#session.datasource:
#  jdbc-url: ${CAMUNDA_SESSION_JDBC_URL:jdbc:h2:./camunda-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
#  username: ${CAMUNDA_SESSION_JDBC_USER:sa}
#  password: ${CAMUNDA_SESSION_JDBC_PASSWORD:sa}
#  driverClassName: ${CAMUNDA_SESSION_JDBC_DRIVER:org.h2.Driver}
#  type: com.zaxxer.hikari.HikariDataSource
#  connectionTimeout: ${CAMUNDA_SESSION_HIKARI_CONN_TIMEOUT:30000}
#  idleTimeout: ${CAMUNDA_SESSION_HIKARI_IDLE_TIMEOUT:600000}
#  maximumPoolSize: ${CAMUNDA_SESSION_HIKARI_MAX_POOLSIZE:10}
#  validationTimeout: ${CAMUNDA_SESSION_HIKARI_VALID_TIMEOUT:5000}

formsflow.ai:
  api:
    url: ${FORMSFLOW_API_URL}
  formio:
    url: ${FORMIO_URL}
    security:
      accessTokenUri: ${FORMIO_URL}/user/login
      username: ${FORMIO_ROOT_EMAIL}
      password: ${FORMIO_ROOT_PASSWORD}
  camunda:
    spring:
      webclient:
        maxInMemorySize: ${DATA_BUFFER_SIZE:2}
        connectionTimeout: 5000



#  session:
#    jdbc.initialize-schema: always
#    store-type: ${CAMUNDA_SESSION_STORE_TYPE:none}
#    timeout.seconds: ${CAMUNDA_SESSION_STORE_TIMEOUT:28800}

management:
  health:
    db:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info,loggers"
  endpoint:
    loggers:
      enabled: true

info:
  app:
    name: "Camunda"
    description: "formsflow.ai Engine"
    version: "7.13"
  java:
    version: "11"

camunda.bpm:
  history-level: ${CAMUNDA_BPM_HISTORY_LEVEL:none}
  authorization:
    enabled: ${CAMUNDA_AUTHORIZATION_FLAG:true}
    authorization-check-revokes: ${CAMUNDA_AUTHORIZATION_REVOKE_CHECK_FLAG:auto}
  filter:
    create: All tasks
  webapp:
    application-path: /
    csrf:
      enable-secure-cookie: true
    header-security:
      content-security-policy-disabled: false
      content-security-policy-value:  base-uri 'self';
        img-src 'self' data:;
        block-all-mixed-content;
        form-action 'self';
        frame-ancestors 'none';
        object-src 'none'
#  job-execution:
#    core-pool-size: ${CAMUNDA_JOB_CORE_POOL_SIZE:3}
#    lock-time-in-millis: ${CAMUNDA_JOB_LOCK_TIME_MILLIS:300000}
#    max-jobs-per-acquisition: ${CAMUNDA_JOB_MAXJOBS_PER_ACQUISITION:3}
#    max-pool-size: ${CAMUNDA_JOB_MAX_POOL_SIZE:10}
#    queue-capacity: ${CAMUNDA_JOB_QUEUE_SIZE:3}
#    wait-time-in-millis: ${CAMUNDA_JOB_WAIT_TIME_MILLIS:5000}
#    max-wait: ${CAMUNDA_JOB_MAX_WAIT:60000}
#  metrics:
#    enabled: ${CAMUNDA_METRICS_FLAG:true}
server:
  port: 8080
  servlet.context-path: /camunda
  session:
    cookie:
      secure: true

# Camunda Rest API
rest.security:
  enabled: true
  provider: keycloak
  required-audience: camunda-rest-api

spring:
  jersey:
    application-path: /engine-rest
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: ${keycloak.clientId}
            client-secret: ${keycloak.clientSecret}
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
              - email
            authorizationGrantType: authorization_code
          keycloak-client:
            provider: keycloak
            client-id: ${keycloak.clientId}
            client-secret: ${keycloak.clientSecret}
            authorizationGrantType: client_credentials
        provider:
          keycloak:
            authorization-uri: ${keycloak.url}/auth/realms/${keycloak.url.realm}/protocol/openid-connect/auth
            token-uri: ${keycloak.url}/auth/realms/${keycloak.url.realm}/protocol/openid-connect/token
            user-info-uri: ${keycloak.url}/auth/realms/${keycloak.url.realm}/protocol/openid-connect/userinfo
            user-name-attribute: preferred_username
            jwk-set-uri: ${keycloak.url}/auth/realms/${keycloak.url.realm}/protocol/openid-connect/certs
            issuer-uri: ${keycloak.url}/auth/realms/${keycloak.url.realm}
      resourceserver:
        jwt:
          issuer-uri: ${keycloak.url}/auth/realms/${keycloak.url.realm}
  main:
    allow-bean-definition-overriding: true


logging:
  level:
    org.springframework.security: ${CAMUNDA_APP_ROOT_LOG_FLAG}
    org.springframework.web: ${CAMUNDA_APP_ROOT_LOG_FLAG}
    org.springframework.jdbc: ${CAMUNDA_APP_ROOT_LOG_FLAG}
    org.camunda.bpm: ${CAMUNDA_APP_ROOT_LOG_FLAG}


plugin.identity.keycloak.rest:
  userNameClaim: preferred_username
  authorityPrefix: "ROLE_"
  authorityAttributeName: groupIds

plugin.identity.keycloak:
  keycloakIssuerUrl: ${keycloak.url}/auth/realms/${keycloak.url.realm}
  keycloakAdminUrl: ${keycloak.url}/auth/admin/realms/${keycloak.url.realm}
  clientId: ${keycloak.clientId}
  clientSecret: ${keycloak.clientSecret}
  useEmailAsCamundaUserId: false
  useUsernameAsCamundaUserId: true
  useGroupPathAsCamundaGroupId: true
  administratorGroupName: camunda-admin
  disableSSLCertificateValidation: true
  maxResultSize: ${IDENTITY_PROVIDER_MAX_RESULT_SIZE:250}

app.security.origin: ${APP_SECURITY_ORIGIN}

# Allowed possible values for WEBSOCKET_MESSAGE_EVENTS:  DEFAULT, ALL or filtered values from (create,update,assignment,timeout,complete) as comma separated
# DEFAULT maps to events: create,assignment,complete
websocket:
  security:
    origin: ${WEBSOCKET_SECURITY_ORIGIN}
    secretKey: ${WEBSOCKET_ENCRYPT_KEY}
  messageType: ${WEBSOCKET_MESSAGE_TYPE}
  messageEvents: ${WEBSOCKET_MESSAGE_EVENTS:DEFAULT}

