<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
  <style type="text/css" media="print">
    .formio-component {
      break-inside: avoid;
      page-break-inside: avoid;
    }

    .formio-component-button,
    .signature-pad-refresh,
    .input-group-append,
    .field-required:after,
    .signature-pad-footer,
    .fa-question-circle {
      display: none;
    }
  </style>

  <script defer src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
  <script defer src="https://unpkg.com/formsflow-formio-custom-elements/dist/customformio.js"></script>
  <script defer src="{{ url_for('static', filename='js/from_io_render.js') }}"></script>
  <script defer type="text/javascript">
    form_info = {{ form | tojson }}
  </script>
</head>

<body onload="renderForm()">
  <div style="margin: 10px;">
    <div id="formio"></div>
  </div>
</body>

</html>