@import "./../../assets/styles/themes.scss";
.div-no-application {
    margin-top: 10%;
    margin-bottom: 10%;
}

.lbl-no-application {
    font-size: 21px;
    font-weight: bold;
}

.lbl-no-application-desc {
    font-size: 15px;
}

.div-no-application-list {
    margin-top: 15%;
    margin-bottom: 20%;
}

.icon-search {
    font-family: Nunito Sans, SemiBold, FontAwesome;
    font-size: 14px;
}

.react-bootstrap-table {
    min-height: 434px;
    overflow: auto;
}

.dropdown-menu.show::before {
    position: absolute !important;
    left: 6px !important;
    top: 154px !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-top: 7.5px solid $gray !important;
}
.dropdown-menu.show::after {
    position: absolute !important;
    left: 8px !important;
    top: 154px !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-top: 7.5px solid rgb(255, 255, 255) !important;
}

.dropdown-menu {
    transform: translate3d(0px, -37.8px, 0px) !important;
}

.filter-sort-bar {
    margin-bottom: 1rem;
    .filter-list-view {
        position: absolute;
        z-index: 1000;
        background-color: white;
        top: 31px;;
        min-width: 180px;
    }
    .sort-container{
        min-width: 250px;
    }
    .filter-container-list {
        
        margin-left: 1rem;
    }
    .application-filter-list-view{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}