.div-no-application
{
    margin-top: 10%;
    margin-bottom: 10%;
}
.lbl-no-application
{
    font-size: 21px;
    font-weight: bold;
}
.lbl-no-application-desc
{
    font-size: 15px;
}
.div-no-application-list
{
    margin-top: 15%;
    margin-bottom: 20%;
}
.icon-search {
    font-family: Nunito Sans,SemiBold, FontAwesome;
    font-size: 14px;
  }
.react-bootstrap-table {
    min-height: 450px;
    overflow: auto;
  }
