.application-head
{
    font-weight: bold;
    font-size:30px;
    margin-left: 10px !important;
    display: flex;
}
.application-head-details
{
    font-weight: bold;
    font-size:30px;
    margin-left: 10px !important;
    display: inline-block;
}
.solid-list-icon {
  height: 25px;
  margin-top: 7px;
}
.application-text{
  margin-left: 10px;
}
.application-count
{
    font-size: 20px;
    margin-top: 7px;
    margin-left: 1px !important;
    margin-right: 25px !important;
}
.div-no-application
{
    margin-top: 10%;
    margin-bottom: 10%;
}
.lbl-no-application
{
    font-size: 21px;
    font-weight: bold;
}
.lbl-no-application-desc
{
    font-size: 15px;
}
.div-no-application-list
{
    margin-top: 15%;
    margin-bottom: 20%;
}
