# Author: Yichun Zhao
version: "3.7"
services:
  forms-flow-bpm-db:
    image: postgres
    environment:
      POSTGRES_USER: ${CAMUNDA_JDBC_USER}
      POSTGRES_PASSWORD: ${CAMUNDA_JDBC_PASSWORD}
      POSTGRES_DB: ${CAMUNDA_JDBC_DB}
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    volumes:
      - ./postgres/camunda:/data/postgres
    ports:
      - '5432:5432'
    restart: unless-stopped
    networks:
      - forms-flow-bpm-network

  forms-flow-bpm:
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    links:
      - forms-flow-bpm-db
    ports:
      - '8000:8080'
    environment:
      - KEYCLOAK_URL=${KEYCLOAK_URL}
      - KEYCLOAK_URL_REALM=${KEYCLOAK_URL_REALM}
      - KEYCLOAK_CLIENTID=${KEYCLOAK_BPM_CLIENTID}
      - KEYCLOAK_CLIENTSECRET=${KEYCLOAK_BPM_CLIENTSECRET}
      - CAMUNDA_FORMBUILDER_PIPELINE_USERNAME=${CAMUNDA_FORMBUILDER_PIPELINE_USERNAME}
      - CAMUNDA_FORMBUILDER_PIPELINE_PASSWORD=${CAMUNDA_FORMBUILDER_PIPELINE_PASSWORD}
      - CAMUNDA_FORMBUILDER_PIPELINE_BPM_URL=${CAMUNDA_FORMBUILDER_PIPELINE_BPM_URL}
      - CAMUNDA_JDBC_URL=${CAMUNDA_JDBC_URL}
      - CAMUNDA_JDBC_USER=${CAMUNDA_JDBC_USER}
      - CAMUNDA_JDBC_PASSWORD=${CAMUNDA_JDBC_PASSWORD}
      - CAMUNDA_JDBC_DRIVER=${CAMUNDA_JDBC_DRIVER}
      - CAMUNDA_HIKARI_CONN_TIMEOUT=${CAMUNDA_HIKARI_CONN_TIMEOUT}
      - CAMUNDA_HIKARI_IDLE_TIMEOUT=${CAMUNDA_HIKARI_IDLE_TIMEOUT}
      - CAMUNDA_HIKARI_MAX_POOLSIZE=${CAMUNDA_HIKARI_MAX_POOLSIZE}
      - CAMUNDA_HIKARI_VALID_TIMEOUT=${CAMUNDA_HIKARI_VALID_TIMEOUT}
      - CAMUNDA_SESSION_JDBC_URL=${CAMUNDA_SESSION_JDBC_URL}
      - CAMUNDA_SESSION_JDBC_USER=${CAMUNDA_SESSION_JDBC_USER}
      - CAMUNDA_SESSION_JDBC_PASSWORD=${CAMUNDA_SESSION_JDBC_PASSWORD}
      - CAMUNDA_SESSION_JDBC_DRIVER=${CAMUNDA_SESSION_JDBC_DRIVER}
      - CAMUNDA_SESSION_HIKARI_CONN_TIMEOUT=${CAMUNDA_SESSION_HIKARI_CONN_TIMEOUT}
      - CAMUNDA_SESSION_HIKARI_IDLE_TIMEOUT=${CAMUNDA_SESSION_HIKARI_IDLE_TIMEOUT}
      - CAMUNDA_SESSION_HIKARI_MAX_POOLSIZE=${CAMUNDA_SESSION_HIKARI_MAX_POOLSIZE}
      - CAMUNDA_SESSION_HIKARI_VALID_TIMEOUT=${CAMUNDA_SESSION_HIKARI_VALID_TIMEOUT}
      - CAMUNDA_ANALYTICS_JDBC_URL=${CAMUNDA_ANALYTICS_JDBC_URL}
      - CAMUNDA_ANALYTICS_JDBC_USER=${CAMUNDA_ANALYTICS_JDBC_USER}
      - CAMUNDA_ANALYTICS_JDBC_PASSWORD=${CAMUNDA_ANALYTICS_JDBC_PASSWORD}
      - CAMUNDA_ANALYTICS_JDBC_DRIVER=${CAMUNDA_ANALYTICS_JDBC_DRIVER}
      - CAMUNDA_ANALYTICS_HIKARI_CONN_TIMEOUT=${CAMUNDA_ANALYTICS_HIKARI_CONN_TIMEOUT}
      - CAMUNDA_ANALYTICS_HIKARI_IDLE_TIMEOUT=${CAMUNDA_ANALYTICS_HIKARI_IDLE_TIMEOUT}
      - CAMUNDA_ANALYTICS_HIKARI_MAX_POOLSIZE=${CAMUNDA_ANALYTICS_HIKARI_MAX_POOLSIZE}
      - CAMUNDA_ANALYTICS_HIKARI_VALID_TIMEOUT=${CAMUNDA_ANALYTICS_HIKARI_VALID_TIMEOUT}
      - CAMUNDA_SESSION_STORE_TYPE=${CAMUNDA_SESSION_STORE_TYPE}
      - CAMUNDA_SESSION_STORE_TIMEOUT=${CAMUNDA_SESSION_STORE_TIMEOUT}
      - CAMUNDA_BPM_HISTORY_LEVEL=${CAMUNDA_BPM_HISTORY_LEVEL}
      - CAMUNDA_AUTHORIZATION_FLAG=${CAMUNDA_AUTHORIZATION_FLAG}
      - CAMUNDA_AUTHORIZATION_REVOKE_CHECK_FLAG=${CAMUNDA_AUTHORIZATION_REVOKE_CHECK_FLAG}
      - CAMUNDA_JOB_CORE_POOL_SIZE=${CAMUNDA_JOB_CORE_POOL_SIZE}
      - CAMUNDA_JOB_LOCK_TIME_MILLIS=${CAMUNDA_JOB_LOCK_TIME_MILLIS}
      - CAMUNDA_JOB_MAXJOBS_PER_ACQUISITION=${CAMUNDA_JOB_MAXJOBS_PER_ACQUISITION}
      - CAMUNDA_JOB_MAX_POOL_SIZE=${CAMUNDA_JOB_MAX_POOL_SIZE}
      - CAMUNDA_JOB_QUEUE_SIZE=${CAMUNDA_JOB_QUEUE_SIZE}
      - CAMUNDA_JOB_WAIT_TIME_MILLIS=${CAMUNDA_JOB_WAIT_TIME_MILLIS}
      - CAMUNDA_JOB_MAX_WAIT=${CAMUNDA_JOB_MAX_WAIT}
      - CAMUNDA_METRICS_FLAG=${CAMUNDA_METRICS_FLAG}
      - APP_ROOT_LOG_FLAG=${APP_ROOT_LOG_FLAG}
      - FORMSFLOW_API_URL=${FORMSFLOW_API_URL}
      - FORMIO_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - FORMIO_ROOT_EMAIL=${FORMIO_ROOT_EMAIL}
      - FORMIO_ROOT_PASSWORD=${FORMIO_ROOT_PASSWORD}
      - APP_SECURITY_ORIGIN=${APP_SECURITY_ORIGIN}
    networks:
      - forms-flow-bpm-network
    

networks:
  forms-flow-bpm-network:
    driver: "bridge"

volumes:
  postgres:
