.btn-create-new {
  height: 30px;
  padding: 0rem 0.75rem;
}

.import-container {
  margin-bottom: 15px;
}

.create-import-container {
  margin-top: 15px;
}

.create-import-btns-container {
  margin-top: 7px;
  margin-bottom: 15px;
  display: flex;
}

.or-txt {
  margin-left: 7px;
  margin-right: 7px;
}

.help-btn {
  float: right;
}

/*
// Style to remove 'No file chosen'
input[type="file"] {
  color: rgba(0, 0, 0, 0);
  width: 110px;
}
*/

.select-style {
  width: 100%;
  white-space: normal;
  word-break: break-all;
}

// remove validation error for unique ID, 
// properties panel is not reliable for validation errors
/*
.bio-properties-panel-error {
  display: none;
}
.formio-error-wrapper,
.has-error label {
  color: black;
  background-color: #fff;
  border-color: black;
}
.bio-properties-panel-entry.has-error .bio-properties-panel-input {
  border-color: hsl(225, 10%, 75%);
  background-color: #fff;
}
*/

/* 

START: BPMN and DMN Toggle CSS 

*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Adding text in the toggle button */
.switch .labels {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.switch .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 14px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.switch .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 8px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.switch input:checked ~ .labels::after {
  opacity: 0;
}

.switch input:checked ~ .labels::before {
  opacity: 1;
}

/* 

END: BPMN and DMN Toggle CSS 

*/
