version: '3.7'

services:
  postgres-db:
    image: postgres:11
    environment:
      POSTGRES_USER: ${WEB_API_POSTGRES_USER}
      POSTGRES_PASSWORD: ${WEB_API_POSTGRES_PASSWORD}
      POSTGRES_DB: ${WEB_API_POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    ports:
      - '6432:5432'
    restart: unless-stopped
    volumes:
      - ./postgres/webapi:/var/lib/postgresql/data
    networks:
      - forms-flow-webapi-network

  data-analysis-api:
    build:
      context: ./
      dockerfile: Dockerfile
    restart: unless-stopped
    links:
      - postgres-db
    ports:
      - '5000:5000'
    volumes:
      - ./:/app:rw
    environment:
      DATABASE_URL: ${WEB_API_DATABASE_URL}
      JWT_OIDC_WELL_KNOWN_CONFIG: ${KEYCLOAK_JWT_OIDC_CONFIG}
      JWT_OIDC_ALGORITHMS: 'RS256'
      JWT_OIDC_JWKS_URI: ${KEYCLOAK_JWT_OIDC_JWKS_URI}
      JWT_OIDC_ISSUER: ${KEYCLOAK_JWT_OIDC_ISSUER}
      JWT_OIDC_AUDIENCE: ${KEYCLOAK_WEB_CLIENTID}
      JWT_OIDC_CACHING_ENABLED: 'True'
      JWT_OIDC_JWKS_CACHE_TIMEOUT: 300
      WEB_API_BASE_URL: ${WEB_API_BASE_URL}
      MONGODB_URI: ${MONGODB_URI}
    stdin_open: true # -i
    tty: true # -t
    networks:
      - forms-flow-webapi-network

networks:
  forms-flow-webapi-network:
    driver: 'bridge'
