Brotli==1.1.0
Deprecated==1.2.18
Flask-Caching==2.3.1
Flask-Migrate==4.1.0
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.1.1
Flask==3.1.1
Jinja2==3.1.6
Mako==1.3.9
MarkupSafe==3.0.2
PyJWT==2.10.1
PySocks==1.7.1
PyYAML==6.0.2
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.39
Werkzeug==3.1.3
alembic==1.15.1
aniso8601==10.0.0
attrs==25.3.0
blinker==1.9.0
cachelib==0.13.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
filelock==3.18.0
flake8-import-order==0.18.2
flask-jwt-oidc==0.8.0
flask-marshmallow==1.3.0
flask-restx==1.3.0
formsflow_api_utils @ git+https://github.com/aot-technologies/forms-flow-ai.git@develop#subdirectory=forms-flow-api-utils
fsspec==2025.3.0
googleapis-common-protos==1.69.2
grpcio==1.71.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
huggingface-hub==0.34.3
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
itsdangerous==2.2.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
kaitaistruct==0.10
marshmallow-sqlalchemy==1.4.1
marshmallow==3.26.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.4
opentelemetry-api==1.31.0
opentelemetry-exporter-otlp-proto-common==1.31.0
opentelemetry-exporter-otlp-proto-grpc==1.31.0
opentelemetry-exporter-otlp-proto-http==1.31.0
opentelemetry-exporter-otlp==1.31.0
opentelemetry-instrumentation-flask==0.52b0
opentelemetry-instrumentation-requests==0.52b0
opentelemetry-instrumentation-wsgi==0.52b0
opentelemetry-instrumentation==0.52b0
opentelemetry-proto==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
opentelemetry-util-http==0.52b0
outcome==1.3.0.post0
packaging==24.2
protobuf==5.29.5
psycopg2-binary==2.9.10
pyOpenSSL==25.0.0
pyasn1==0.4.8
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
pyparsing==3.2.1
python-dotenv==1.0.1
python-jose[cryptography]==3.4.0
pytz==2025.1
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rpds-py==0.23.1
rsa==4.9
safetensors==0.5.3
selenium-wire==5.1.0
selenium==4.29.0
sentencepiece==0.2.0
sentry-sdk==2.23.1
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sympy==1.14.0
tokenizers==0.21.1
tomli==2.2.1
torch==2.8.0
tqdm==4.67.1
transformers==4.54.1
trio-websocket==0.12.2
trio==0.29.0
typing_extensions==4.12.2
urllib3==2.6.0
websocket-client==1.8.0
wrapt==1.17.2
wsproto==1.2.0
zimports==0.6.1
zipp==3.21.0
zstandard==0.23.0
