Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask==2.3.3
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
PyYAML==6.0.1
SQLAlchemy-Utils==0.41.1
SQLAlchemy==2.0.21
Werkzeug==3.0.1
alembic==1.12.0
aniso8601==9.0.1
attrs==23.1.0
blinker==1.6.2
blis==0.7.10
cachelib==0.10.2
catalogue==1.0.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cymem==2.0.8
ecdsa==0.18.0
filelock==3.12.4
flask-jwt-oidc==0.3.0
flask-restx==1.1.0
fsspec==2023.9.1
gunicorn==21.2.0
huggingface-hub==0.19.4
idna==3.4
itsdangerous==2.1.2
joblib==1.3.2
jsonschema-specifications==2023.7.1
jsonschema==4.19.1
mpmath==1.3.0
murmurhash==1.0.10
networkx==3.1
nltk==3.8.1
numpy==1.26.0
packaging==23.1
plac==1.1.3
preshed==3.0.9
protobuf==4.24.3
psycopg2-binary==2.9.7
pyasn1==0.5.0
python-dotenv==1.0.0
python-jose==3.3.0
pytz==2023.3.post1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
rpds-py==0.10.3
rsa==4.9
safetensors==0.3.3
sentencepiece==0.1.99
six==1.16.0
spacy==2.3.9
srsly==1.0.7
sympy==1.12
thinc==7.4.6
tokenizers==0.15.2
torch==2.0.1
tqdm==4.66.1
transformers==4.36.2
typing_extensions==4.8.0
urllib3==2.0.7
wasabi==0.10.1
