KEYCLOAK_URL=https://iam.aot-technologies.com
##The Keycloak realm to use
KEYCLOAK_URL_REALM=formsflow-ai-willow
KEYCLOAK_BPM_CLIENT_ID=forms-flow-bpm
KEYCLOAK_WEB_CLIENT_ID=forms-flow-web
KEYCLOAK_BPM_CLIENT_SECRET=50c0442d-ebd8-4284-b953-747d485846b9
KEYCLOAK_JWT_OIDC_CONFIG

DATA_ANALYSIS_DB_USER=general
DATA_ANALYSIS_DB_PASSWORD=changeme
DATA_ANALYSIS_DB_NAME=data_analysis
DATA_ANALYSIS_DB_URL=postgresql://general:changeme@forms-flow-data-analysis-db:5432/webapi
DATA_ANALYSIS_API_BASE_URL=http://localhost:5000
