KEYCLOAK_URL=https://iam.aot-technologies.com
KEYCLOAK_URL_REALM=formsflow-ai-willow
KEYCLOAK_WEB_CLIENT_ID=forms-flow-web

DATA_ANALYSIS_DB_USER=general
DATA_ANALYSIS_DB_PASSWORD=changeme
DATA_ANALYSIS_DB_NAME=dataanalysis
DATA_ANALYSIS_DB_URL=postgresql://general:changeme@forms-flow-data-analysis-db:5432/dataanalysis
DATA_ANALYSIS_API_BASE_URL=http://localhost:5000
MODEL_ID=Seethal/sentiment_analysis_generic_dataset
DATABASE_SUPPORT=DISABLED

# Testing
# TEST_REVIEWER_USERID=
# TEST_REVIEWER_PASSWORD=
# DATABASE_URL_TEST=
