@import "../../assets/styles/themes.scss";

.paper-root {
  min-height: calc(100vh - 200px);
}

.save-buttons {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

 

.text-field,
.text-label {
  width: 100%;
  margin: 10px 0;
  font-weight: bold;
}

.card-overflow {
  overflow: visible !important;
}

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  font-size: 16px;
}

.fontsize-16 {
  font-size: 18px;
}


.form-history-container {
  max-height: 380px;
  overflow-y: auto;
  margin: auto;
  display: block;
  padding: 20px;
  position: relative;
}

.form-history-container li {
  padding-bottom: 10px;
  list-style: none;
  margin: auto;
  border-left: 1px solid #c4c4c4;
  position: relative;
}



.form-history-container .history-details {
  padding: 15px;
  margin-left: 2rem;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

.form-history-container .history-details.active {
  border: 1px solid #1cbe2c;
}

.form-history-container li:last-child {
  border-left: 0;
}

.form-history-container li::before {
  position: absolute;
  left: -10px;
  top: 0;
  content: " ";
  border-radius: 500%;
  background: #c4c4c4;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;

}

.form-history-container li:first-child:before {
  background-color: #25c735;
  content: '\2714 \fe0e';
  color: #ffffff;
  text-align: center;
  transition: all 1000ms ease-in-out;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 