.client-table{
    min-height: 400px;
}
.sort-icon{
  font-size: 16px;  
}
.description-title{
  max-width: 350px;  
}
.description-content{
    max-width: 68vw;
}
.clientForm-table-col{
    min-height: 300px;
}