.btn-create-new {
  height: 30px;
  padding: 0rem 0.75rem;
  white-space: nowrap;
}

.create-import-btns-container {
  display: flex;
}

.help-btn {
  float: right;
  background-color: var(--color-help);
  color: var(--color-white);
  margin-top: 16px;
  height: 32px;
}

.card-body {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.no-results{
  height: 300px;  
}

.dmn-table{
  min-height: 400px;  
}

.card-overflow {
  padding-left: 14px !important;
}

.card-layout {
  padding-left: 16px;
  padding-top: 16px;
}
.card-border {
  border-left: solid 1px var(--color-gray-200);
}
.select-style {
  margin-bottom: 21px;
  margin-top: 10px;
  width: 100%;
  white-space: normal;
  word-break: break-all;
}

.toggle-bpm {
  margin-bottom: 37px
}

/*

START: BPMN and DMN Toggle CSS

*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary-ltr);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--color-primary-ltr);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-primary-ltr);
}

input:checked+.slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Adding text in the toggle button */
.switch .labels {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.switch .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 14px;
  color: var(--color-white);
  opacity: 1;
  text-shadow: 1px 1px 2px var(--color-text-shadow);
  transition: all 0.4s ease-in-out;
}

.switch .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 8px;
  color: var(--color-white);
  opacity: 0;
  text-shadow: 1px 1px 2px var(--color-text-shadow);
  transition: all 0.4s ease-in-out;
}

.switch input:checked~.labels::after {
  opacity: 0;
}

.switch input:checked~.labels::before {
  opacity: 1;
}

/*

END: BPMN and DMN Toggle CSS

*/
.solid{
  border-bottom: 3px solid var(--color-gray-400);
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: var(--color-gray-500);
}
.scrolly{
  overflow-y: scroll;
}
.containerbox{
  box-shadow: 0 4px 8px 0 var(--color-box-shadow);
  padding: 15px;
  overflow-y: auto;
  height: 700px;
}


.canvas {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.card-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.cardprocess {
  flex: 1;
  height: 124px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 10px;
  border: 1px solid var(--color-gray-400);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--color-box-shadow);
  text-align: center;
}

.card-content {
  background-color: var(--color-main-bg);
  height: 60%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

.card img {
  width: 100%;
}
