-e git+https://github.com/AOT-Technologies/forms-flow-ai.git@develop#egg=forms_flow_data_analysis_api&subdirectory=forms-flow-data-analysis-api
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask==3.1.1
Jinja2==3.1.6
Mako==1.3.8
MarkupSafe==3.0.2
PyYAML==6.0.2
Pygments==2.18.0
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.36
Werkzeug==3.1.3
alembic==1.14.0
aniso8601==9.0.1
annotated-types==0.7.0
attrs==24.2.0
blinker==1.9.0
blis==1.0.2
cachelib==0.13.0
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
confection==0.1.5
cymem==2.0.10
ecdsa==0.19.0
filelock==3.16.1
flask-jwt-oidc==0.7.0
flask-restx==1.3.0
fsspec==2024.10.0
gunicorn==23.0.0
huggingface-hub==0.34.3
idna==3.10
importlib_resources==6.4.5
itsdangerous==2.2.0
joblib==1.4.2
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.11
networkx==3.4.2
nltk==3.9.1
numpy==2.0.2
packaging==24.2
preshed==3.0.9
protobuf==5.29.5
psycopg2-binary==2.9.10
psycopg2==2.9.10
pyasn1==0.6.1
pydantic==2.10.3
pydantic_core==2.27.1
pymssql==2.3.2
python-dotenv==1.0.1
python-jose==3.4.0
pytz==2024.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.4
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.5
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
smart-open==7.0.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.8.2
srsly==2.5.0
sympy==1.14.0
thinc==8.3.2
tokenizers==0.21.0
torch==2.8.0
tqdm==4.67.1
transformers==4.54.1
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.5.0
wasabi==1.1.3
weasel==0.4.1
wrapt==1.17.0