###############################################################################
#  This file is a sample file, for Docker compose to work with the settings   #
#  rename this file to .env                                                   #
#  Uncomment the variables if any changes from the default values             #
###############################################################################



##Environment Variables for FormIO Datastore
#Formio DB username
#FORMIO_DB_USERNAME=admin
#Formio DB password
#FORMIO_DB_PASSWORD=changeme
#Formio database name
#FORMIO_DB_NAME=formio

##Environment Variables for FormIO Server root-admin credential
#Root admin email
#FORMIO_ROOT_EMAIL=admin@example.com
##Root admin password
#FORMIO_ROOT_PASSWORD=changeme
##env variable to toggle the installation of the Formio client's UI. When set to 1, it disables the installation of any UI; otherwise, the client's UI will be installed.
#NO_INSTALL=1
#URL of forms-flow-forms
FORMIO_DEFAULT_PROJECT_URL=http://{your-ip-address}:3001

#JWT signing secret
#FORMIO_JWT_SECRET=--- change me now ---
#JWT expiry minutes
#FORMIO_JWT_EXPIRE=240
#Enable multi-tenancy
#MULTI_TENANCY_ENABLED=false
