.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-item-container{
    display: flex;
    padding-right:0px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.group-item{
    margin-right: 10px;
    cursor: default;
    margin-right: 0px;
}

.close-button{
    margin-left: 5px;
}
.error-custom{
    width: 30%;
}

.chip-element{
    border-radius: 100rem;
	box-shadow: 0 0 0 2px rgb(217, 217, 217);

    .chip-label{
        padding: 3px 6px 3px 10px;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .chip-close{
        margin-left: 5px;
        border-radius: 50%;
        background-color: #d4d4d4;
        width: 20px;
        height: 20px;
        color: #393939;
        font-weight: 100;
        cursor: pointer;
        display: inline-flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        
        &:hover{
            background-color: #fc4f4f;
            color: #fff;
        }
    }
}

.react-bootstrap-table{
    min-height: 450px;
}