#box {
    width: 30px;
    height: 30px;
    background-color: white;
    margin-bottom: 10px;
}
.image{
  width: 100%;
}
#box.active {
    -webkit-animation-name: cycle;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-name: cycle;
    animation-duration: 2s;
    animation-iteration-count: 9999;
    animation-fill-mode: forwards;
    -moz-animation-name: cycle;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 9999;
    -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes cycle {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes cycle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes cycle {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.activate {
    margin-top: 5px;
    padding: 3px 5px;
    background-color: #333;
    color: #eee;
    cursor: pointer;
}

.saving-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.status-message{
    margin-left: 10px;
    padding-bottom: 5px;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
