version: "3.7"

services:
  forms-flow-web:
    container_name: forms-flow-web
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NODE_ENV=${NODE_ENV:-development}
        - GENERATE_SOURCEMAP=false
        - REACT_APP_CLIENT_ROLE=${CLIENT_ROLE:-formsflow-client}
        - REACT_APP_STAFF_REVIEWER_ROLE=${REVIEWER_ROLE:-formsflow-reviewer}
        - REACT_APP_STAFF_DESIGNER_ROLE=${DESIGNER_ROLE:-formsflow-designer}
        - REACT_APP_CLIENT_ID=${CLIENT_ROLE_ID}
        - REACT_APP_STAFF_REVIEWER_ID=${REVIEWER_ROLE_ID}
        - REACT_APP_STAFF_DESIGNER_ID=${DESIGNER_ROLE_ID}
        - REACT_APP_USER_RESOURCE_FORM_ID=${USER_RESOURCE_ID}
        - REACT_APP_ANONYMOUS_ID=${ANONYMOUS_ID}
        - REACT_APP_API_SERVER_URL=${FORMIO_DEFAULT_PROJECT_URL}
        - REACT_APP_API_PROJECT_URL=${FORMIO_DEFAULT_PROJECT_URL}
        - REACT_APP_KEYCLOAK_CLIENT=${KEYCLOAK_WEB_CLIENTID:-forms-flow-web}
        - REACT_APP_INSIGHT_API_BASE=${INSIGHT_API_URL}
        - REACT_APP_INSIGHTS_API_KEY=${INSIGHT_API_KEY}
        - REACT_APP_WEB_BASE_URL=${FORMSFLOW_API_URL}
        - REACT_APP_CAMUNDA_API_URI=${CAMUNDA_API_URL}
        - REACT_APP_WEBSOCKET_ENCRYPT_KEY=${WEBSOCKET_ENCRYPT_KEY}
        - REACT_APP_KEYCLOAK_URL_REALM=${KEYCLOAK_URL_REALM:-forms-flow-ai}
        - REACT_APP_KEYCLOAK_URL=${KEYCLOAK_URL}
        - REACT_APP_APPLICATION_NAME=${APPLICATION_NAME:-formsflow.ai}
        - REACT_APP_USER_ACCESS_PERMISSIONS=${USER_ACCESS_PERMISSIONS}
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "3000:8080"
    tty: true
