version: "3.7"

services:
  forms-flow-web:
    container_name: forms-flow-ai
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "3000:3000"
    tty: true
    environment:
      - NODE_ENV=${NODE_ENV}
      - REACT_APP_CLIENT_ROLE=${CLIENT_ROLE}
      - REACT_APP_STAFF_REVIEWER_ROLE=${REVIEWER_ROLE}
      - REACT_APP_STAFF_DESIGNER_ROLE=${DESIGNER_ROLE}
      - REACT_APP_CLIENT_ID=${CLIENT_ROLE_ID}
      - REACT_APP_STAFF_REVIEWER_ID=${REVIEWER_ROLE_ID}
      - REACT_APP_STAFF_DESIGNER_ID=${DESIGNER_ROLE_ID}
      - REACT_APP_USER_RESOURCE_FORM_ID=${USER_RESOURCE_ID}
      - REACT_APP_API_SERVER_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - REACT_APP_API_PROJECT_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - REACT_APP_KEYCLOAK_CLIENT=${REACT_APP_KEYCLOAK_CLIENT}
      - REACT_APP_ANONYMOUS_ID=${ANONYMOUS_ID}
      - REACT_APP_EMAIL_SUBMISSION_GROUP=${EMAIL_NOTIFICATION_GROUP}
      - REACT_APP_INSIGHT_API_BASE=${INSIGHT_API_BASE}
      - REACT_APP_INSIGHTS_API_KEY=${INSIGHT_API_KEY}
      - REACT_APP_WEB_BASE_URL=${WEB_APP_BASE_URL}
