.bpm-container{
  height:100%;
  position: absolute;
  width: 100%;
  overflow:hidden;
}
.bpmn-viewer-container{
  min-height: 400px;
  position:relative;
}

 .grab-cursor {
   cursor: move;
   cursor: grab;
 }
.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: var(--color-primary-dk) !important;
}

.btn_zoom{
  position: absolute;
  bottom: 10em;
  right:5%;
}