# Author: Gurumoorthy Mohan
version: '3.7'

services:
  forms-flow-forms-db:
    container_name: forms-flow-forms-db
    image: mongo:5.0
    restart: always
    hostname: forms-flow-forms-db
    ports:
      - '27018:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${FORMIO_DB_USERNAME:-admin}
      MONGO_INITDB_ROOT_PASSWORD: ${FORMIO_DB_PASSWORD:-changeme}
      MONGO_INITDB_DATABASE: ${FORMIO_DB_NAME:-formio}
    volumes:
      - ./../../forms-flow-forms/mongo_entrypoint/001_user.js:/docker-entrypoint-initdb.d/001_user.js:ro
      - ./mongodb/data/db/:/data/db/
      - ./mongodb/data/log/:/var/log/mongodb/
      - ./mongodb/mongod.conf:/etc/mongod.conf
    networks:
      - forms-flow-network

  forms-flow-forms:
    container_name: forms-flow-forms
    image: formsflow/forms-flow-forms:v7.2.0-rc

    # The app will restart until Mongo is listening
    restart: always
    depends_on :
      - forms-flow-forms-db
    ports:
      - '3001:3001'
    # The application wants to download things to the local directory
    environment:
      DEBUG: formio:*
      NODE_CONFIG: "{\"mongo\":\"mongodb://${FORMIO_DB_USERNAME:-admin}:${FORMIO_DB_PASSWORD:-changeme}@forms-flow-forms-db:27017/${FORMIO_DB_NAME:-formio}?authMechanism=SCRAM-SHA-1&authSource=admin\"}"
      ROOT_EMAIL: ${FORMIO_ROOT_EMAIL:-admin@example.com}
      ROOT_PASSWORD: ${FORMIO_ROOT_PASSWORD:-changeme}
      FORMIO_DOMAIN: ${FORMIO_DEFAULT_PROJECT_URL}
      FORMIO_JWT_SECRET: ${FORMIO_JWT_SECRET:---- change me now ---}
      FORMIO_JWT_EXPIRE: ${FORMIO_JWT_EXPIRE:-240}
      NO_INSTALL: ${NO_INSTALL:-1}
      MULTI_TENANCY_ENABLED: ${MULTI_TENANCY_ENABLED:-false}

    stdin_open: true # -i
    tty: true # -t
    networks:
      - forms-flow-network

  forms-flow-bpm-db:
    image: postgres:latest
    container_name: forms-flow-bpm-db
    environment:
      POSTGRES_USER: ${CAMUNDA_JDBC_USER:-admin}
      POSTGRES_PASSWORD: ${CAMUNDA_JDBC_PASSWORD:-changeme}
      POSTGRES_DB: ${CAMUNDA_JDBC_DB_NAME:-formsflow-bpm}
    volumes:
      - ./postgres/camunda:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    restart: always
    networks:
      - forms-flow-network

  forms-flow-bpm:
    container_name: forms-flow-bpm
    build:
      context: ./../../forms-flow-bpm/
      dockerfile: Dockerfile
    restart: always
    depends_on :
      - forms-flow-bpm-db
    ports:
      - '8000:8080'
    environment:
      - KEYCLOAK_URL=${KEYCLOAK_URL}
      - KEYCLOAK_URL_REALM=${KEYCLOAK_URL_REALM:-forms-flow-ai}
      - KEYCLOAK_CLIENTID=${KEYCLOAK_BPM_CLIENT_ID:-forms-flow-bpm}
      - KEYCLOAK_CLIENTSECRET=${KEYCLOAK_BPM_CLIENT_SECRET:-e4bdbd25-1467-4f7f-b993-bc4b1944c943}
      - KEYCLOAK_URL_HTTP_RELATIVE_PATH=${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}
      - CAMUNDA_JDBC_URL=${CAMUNDA_JDBC_URL:-jdbc:postgresql://forms-flow-bpm-db:5432/formsflow-bpm}
      - CAMUNDA_JDBC_USER=${CAMUNDA_JDBC_USER:-admin}
      - CAMUNDA_JDBC_PASSWORD=${CAMUNDA_JDBC_PASSWORD:-changeme}
      - CAMUNDA_JDBC_DRIVER=${CAMUNDA_JDBC_DRIVER:-org.postgresql.Driver}
#      - SERVER_MAX_HTTP_REQUEST_HEADER_SIZE=${SERVER_MAX_HTTP_REQUEST_HEADER_SIZE:-8192}
#      - CAMUNDA_HIKARI_CONN_TIMEOUT=${CAMUNDA_HIKARI_CONN_TIMEOUT}
#      - CAMUNDA_HIKARI_IDLE_TIMEOUT=${CAMUNDA_HIKARI_IDLE_TIMEOUT}
#      - CAMUNDA_HIKARI_MAX_POOLSIZE=${CAMUNDA_HIKARI_MAX_POOLSIZE}
#      - CAMUNDA_HIKARI_VALID_TIMEOUT=${CAMUNDA_HIKARI_VALID_TIMEOUT}
#      - CAMUNDA_BPM_HISTORY_LEVEL=${CAMUNDA_BPM_HISTORY_LEVEL}
#      - CAMUNDA_AUTHORIZATION_FLAG=${CAMUNDA_AUTHORIZATION_FLAG}
#      - CAMUNDA_AUTHORIZATION_REVOKE_CHECK_FLAG=${CAMUNDA_AUTHORIZATION_REVOKE_CHECK_FLAG}
#      - CAMUNDA_JOB_CORE_POOL_SIZE=${CAMUNDA_JOB_CORE_POOL_SIZE}
#      - CAMUNDA_JOB_LOCK_TIME_MILLIS=${CAMUNDA_JOB_LOCK_TIME_MILLIS}
#      - CAMUNDA_JOB_MAXJOBS_PER_ACQUISITION=${CAMUNDA_JOB_MAXJOBS_PER_ACQUISITION}
#      - CAMUNDA_JOB_MAX_POOL_SIZE=${CAMUNDA_JOB_MAX_POOL_SIZE}
#      - CAMUNDA_JOB_QUEUE_SIZE=${CAMUNDA_JOB_QUEUE_SIZE}
#      - CAMUNDA_JOB_WAIT_TIME_MILLIS=${CAMUNDA_JOB_WAIT_TIME_MILLIS}
#      - CAMUNDA_JOB_MAX_WAIT=${CAMUNDA_JOB_MAX_WAIT}
#      - CAMUNDA_METRICS_FLAG=${CAMUNDA_METRICS_FLAG}
      - CAMUNDA_APP_ROOT_LOG_FLAG=${CAMUNDA_APP_ROOT_LOG_FLAG:-error}
      - FORMSFLOW_API_URL=${FORMSFLOW_API_URL}
      - FORMIO_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - FORMIO_ROOT_EMAIL=${FORMIO_ROOT_EMAIL:-admin@example.com}
      - FORMIO_ROOT_PASSWORD=${FORMIO_ROOT_PASSWORD:-changeme}
      - APP_SECURITY_ORIGIN=${APP_SECURITY_ORIGIN:-*}
      - WEBSOCKET_SECURITY_ORIGIN=${WEBSOCKET_SECURITY_ORIGIN}
      - WEBSOCKET_MESSAGE_TYPE=${WEBSOCKET_MESSAGE_TYPE:-TASK_EVENT}
      - WEBSOCKET_ENCRYPT_KEY=${WEBSOCKET_ENCRYPT_KEY:-giert989jkwrgb@DR55}
      - DATA_BUFFER_SIZE=${DATA_BUFFER_SIZE:-2}
      - IDENTITY_PROVIDER_MAX_RESULT_SIZE=${IDENTITY_PROVIDER_MAX_RESULT_SIZE:-250}
      - DATA_ANALYSIS_URL=${DATA_ANALYSIS_URL}
      - CUSTOM_SUBMISSION_URL=${CUSTOM_SUBMISSION_URL}
      - CUSTOM_SUBMISSION_ENABLED=${CUSTOM_SUBMISSION_ENABLED:-false}
      - MULTI_TENANCY_ENABLED=${MULTI_TENANCY_ENABLED:-false}
      - KEYCLOAK_ENABLE_CLIENT_AUTH=${KEYCLOAK_ENABLE_CLIENT_AUTH:-false}
      - KEYCLOAK_WEB_CLIENTID=${KEYCLOAK_WEB_CLIENT_ID:-forms-flow-web}
      - FORMSFLOW_ADMIN_URL=${FORMSFLOW_ADMIN_URL:-}
      - REDIS_ENABLED=${REDIS_ENABLED:-false}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT:-6379}
      - REDIS_PASSCODE=${REDIS_PASSCODE:-changeme}
      - SESSION_COOKIE_SECURE=${SESSION_COOKIE_SECURE:-false}
      - VAULT_ENABLED=${VAULT_ENABLED:-false}
      - VAULT_URL=${VAULT_URL}
      - VAULT_TOKEN=${VAULT_TOKEN}
      - VAULT_PATH=${VAULT_PATH}
      - VAULT_SECRET=${VAULT_SECRET}
      - SHARED_REALM=${SHARED_REALM:-false}
      - CSS_API_BASE_URL=${CSS_API_BASE_URL:-}
      - CSS_API_CLIENT_ID=${CSS_API_CLIENT_ID:-}
      - CSS_API_SECRET=${CSS_API_SECRET:-}
      - CSS_API_LOGIN_URL=${CSS_API_LOGIN_URL:-}
      - CSS_ENV=${CSS_ENV:-}
      - CSS_INTEGRATION_ID=${CSS_INTEGRATION_ID:-}
      - USER_NAME_DISPLAY_CLAIM=${USER_NAME_DISPLAY_CLAIM:-}
    networks:
      - forms-flow-network
 
  forms-flow-web-root-config:
    container_name: forms-flow-web-root-config
    restart: always
    depends_on :
      - forms-flow-webapi
    build:
      context: ./../../forms-flow-web-root-config/
      dockerfile: Dockerfile
      args:
        - MF_FORMSFLOW_WEB_URL=${MF_FORMSFLOW_WEB_URL:-https://forms-flow-microfrontends.aot-technologies.com/forms-flow-web@v7.2.0-rc/forms-flow-web.gz.js}
        - MF_FORMSFLOW_NAV_URL=${MF_FORMSFLOW_NAV_URL:-https://forms-flow-microfrontends.aot-technologies.com/forms-flow-nav@v7.2.0-rc/forms-flow-nav.gz.js}
        - MF_FORMSFLOW_SERVICE_URL=${MF_FORMSFLOW_SERVICE_URL:-https://forms-flow-microfrontends.aot-technologies.com/forms-flow-service@v7.2.0-rc/forms-flow-service.gz.js}
        - MF_FORMSFLOW_COMPONENTS_URL=${MF_FORMSFLOW_COMPONENTS_URL:-https://forms-flow-microfrontends.aot-technologies.com/forms-flow-components@v7.2.0-rc/forms-flow-components.gz.js}
        - MF_FORMSFLOW_ADMIN_URL=${MF_FORMSFLOW_ADMIN_URL:-https://forms-flow-microfrontends.aot-technologies.com/forms-flow-admin@v7.2.0-rc/forms-flow-admin.gz.js}
        - MF_FORMSFLOW_REVIEW_URL=${MF_FORMSFLOW_REVIEW_URL:-https://forms-flow-microfrontends.aot-technologies.com/forms-flow-review@v7.2.0-rc/forms-flow-review.gz.js}
        - MF_FORMSFLOW_SUBMISSIONS_URL=${MF_FORMSFLOW_SUBMISSIONS_URL:-https://forms-flow-microfrontends.aot-technologies.com/forms-flow-submissions@v7.2.0-rc/forms-flow-submissions.gz.js}
        - NODE_ENV=${NODE_ENV:-production}
    entrypoint: /bin/sh -c "/usr/share/nginx/html/config/env.sh && nginx -g 'daemon off;'"
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - REACT_APP_API_SERVER_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - REACT_APP_LANGUAGE=${LANGUAGE:-en}
      - REACT_APP_API_PROJECT_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - REACT_APP_KEYCLOAK_CLIENT=${KEYCLOAK_WEB_CLIENT_ID:-forms-flow-web}
      - REACT_APP_WEB_BASE_URL=${FORMSFLOW_API_URL}
      - REACT_APP_BPM_URL=${BPM_API_URL}
      - REACT_APP_WEBSOCKET_ENCRYPT_KEY=${WEBSOCKET_ENCRYPT_KEY:-giert989jkwrgb@DR55}
      - REACT_APP_KEYCLOAK_URL_REALM=${KEYCLOAK_URL_REALM:-forms-flow-ai}
      - REACT_APP_KEYCLOAK_URL=${KEYCLOAK_URL}
      - REACT_APP_APPLICATION_NAME=${APPLICATION_NAME:-formsflow.ai}
      - REACT_APP_ENABLE_APPLICATION_ACCESS_PERMISSION_CHECK=${ENABLE_APPLICATION_ACCESS_PERMISSION_CHECK:-false}
      - REACT_APP_WEB_BASE_CUSTOM_URL=${WEB_BASE_CUSTOM_URL}
      - REACT_APP_MULTI_TENANCY_ENABLED=${MULTI_TENANCY_ENABLED:-false}
      - REACT_APP_MT_ADMIN_BASE_URL=${MT_ADMIN_BASE_URL}
      - REACT_APP_MT_ADMIN_BASE_URL_VERSION=${MT_ADMIN_BASE_URL_VERSION}
      - REACT_APP_CUSTOM_SUBMISSION_URL=${CUSTOM_SUBMISSION_URL}
      - REACT_APP_CUSTOM_SUBMISSION_ENABLED=${CUSTOM_SUBMISSION_ENABLED:-false}
      - REACT_APP_DRAFT_ENABLED=${DRAFT_ENABLED:-false}
      - REACT_APP_DRAFT_POLLING_RATE=${DRAFT_POLLING_RATE:-15000}
      - REACT_APP_EXPORT_PDF_ENABLED=${EXPORT_PDF_ENABLED:-false}
      - REACT_APP_PUBLIC_WORKFLOW_ENABLED=${PUBLIC_WORKFLOW_ENABLED:-false}
      - REACT_APP_DOCUMENT_SERVICE_URL=${DOCUMENT_SERVICE_URL}
      - REACT_APP_CUSTOM_THEME_URL=${CUSTOM_THEME_URL}
      - REACT_APP_CUSTOM_RESOURCE_BUNDLE_URL=${CUSTOM_RESOURCE_BUNDLE_URL}
      - REACT_APP_KEYCLOAK_ENABLE_CLIENT_AUTH=${KEYCLOAK_ENABLE_CLIENT_AUTH:-false}
      - REACT_APP_ENABLE_FORMS_MODULE=${ENABLE_FORMS_MODULE:-true}
      - REACT_APP_ENABLE_TASKS_MODULE=${ENABLE_TASKS_MODULE:-true}
      - REACT_APP_ENABLE_DASHBOARDS_MODULE=${ENABLE_DASHBOARDS_MODULE:-true}
      - REACT_APP_ENABLE_PROCESSES_MODULE=${ENABLE_PROCESSES_MODULE:-true}
      - REACT_APP_ENABLE_APPLICATIONS_MODULE=${ENABLE_APPLICATIONS_MODULE:-true}
      - REACT_APP_DATE_FORMAT=${DATE_FORMAT:-DD-MM-YY}
      - REACT_APP_TIME_FORMAT=${TIME_FORMAT:-hh:mm:ss A}
      - REACT_APP_KEYCLOAK_URL_HTTP_RELATIVE_PATH=${KEYCLOAK_URL_HTTP_RELATIVE_PATH}
      - REACT_APP_USER_NAME_DISPLAY_CLAIM=${USER_NAME_DISPLAY_CLAIM:-}
      - REACT_APP_ENABLE_COMPACT_FORM_VIEW=${ENABLE_COMPACT_FORM_VIEW:-false}
      - REACT_APP_GRAPHQL_API_URL=${GRAPHQL_API_URL}      
    ports:
      - '3000:8080'
    tty: true

    networks:
      - forms-flow-network

  forms-flow-webapi-db:
    container_name: forms-flow-webapi-db
    image: postgres:11
    environment:
      POSTGRES_USER: ${FORMSFLOW_API_DB_USER:-postgres}
      POSTGRES_PASSWORD: ${FORMSFLOW_API_DB_PASSWORD:-changeme}
      POSTGRES_DB: ${FORMSFLOW_API_DB_NAME:-webapi}
    ports:
      - '6432:5432'
    restart: always
    volumes:
      - ./postgres/webapi:/var/lib/postgresql/data
    networks:
      - forms-flow-network

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      - forms-flow-network

  forms-flow-webapi:
    container_name: forms-flow-webapi
    build:
      context: ./../../forms-flow-api/
      dockerfile: Dockerfile
    restart: always
    depends_on :
      - forms-flow-webapi-db
      - forms-flow-forms
      - redis
    entrypoint: "/wait-for-service.sh forms-flow-webapi-db:5432 -s -- ./entrypoint.sh"
    ports:
      - '5000:5000'
    volumes:
      - ./:/app:rw
    environment:
      INSIGHT_API_KEY: ${INSIGHT_API_KEY}
      INSIGHT_API_URL: ${INSIGHT_API_URL}
      DATABASE_URL: ${FORMSFLOW_API_DB_URL:-postgresql://postgres:changeme@forms-flow-webapi-db:5432/webapi}
      DATABASE_USERNAME: ${FORMSFLOW_API_DB_USER}
      DATABASE_PASSWORD: ${FORMSFLOW_API_DB_PASSWORD}
      DATABASE_HOST: ${FORMSFLOW_API_DB_HOST}
      DATABASE_PORT: ${FORMSFLOW_API_DB_PORT}
      DATABASE_NAME: ${FORMSFLOW_API_DB_NAME}
      BPM_TOKEN_API: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}/protocol/openid-connect/token
      BPM_CLIENT_ID: ${KEYCLOAK_BPM_CLIENT_ID:-forms-flow-bpm}
      BPM_CLIENT_SECRET: ${KEYCLOAK_BPM_CLIENT_SECRET:-e4bdbd25-1467-4f7f-b993-bc4b1944c943}
      BPM_API_URL: ${BPM_API_URL}
      FORMSFLOW_API_CORS_ORIGINS: ${FORMSFLOW_API_CORS_ORIGINS:-*}
      JWT_OIDC_WELL_KNOWN_CONFIG: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}/.well-known/openid-configuration
      JWT_OIDC_ALGORITHMS: 'RS256'
      JWT_OIDC_JWKS_URI: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}/protocol/openid-connect/certs
      JWT_OIDC_ISSUER: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}
      JWT_OIDC_AUDIENCE: ${KEYCLOAK_WEB_CLIENT_ID:-forms-flow-web}
      JWT_OIDC_CACHING_ENABLED: 'True'
      JWT_OIDC_JWKS_CACHE_TIMEOUT: 300
      KEYCLOAK_URL: ${KEYCLOAK_URL}
      KEYCLOAK_URL_REALM: ${KEYCLOAK_URL_REALM:-forms-flow-ai}
      WEB_API_BASE_URL: ${FORMSFLOW_API_URL}
      FORMIO_URL: ${FORMIO_DEFAULT_PROJECT_URL}
      FORMIO_ROOT_EMAIL: ${FORMIO_ROOT_EMAIL:-admin@example.com}
      FORMIO_ROOT_PASSWORD: ${FORMIO_ROOT_PASSWORD:-changeme}
      FORMIO_JWT_SECRET: ${FORMIO_JWT_SECRET:---- change me now ---}
      FORMIO_JWT_EXPIRE: ${FORMIO_JWT_EXPIRE:-240}
      KEYCLOAK_ENABLE_CLIENT_AUTH: ${KEYCLOAK_ENABLE_CLIENT_AUTH:-false}
      MULTI_TENANCY_ENABLED: ${MULTI_TENANCY_ENABLED:-false}
      FORM_EMBED_JWT_SECRET: ${FORM_EMBED_JWT_SECRET:-f6a69a42-7f8a-11ed-a1eb-0242ac120002}
      API_LOG_ROTATION_WHEN: ${API_LOG_ROTATION_WHEN:-d}
      API_LOG_ROTATION_INTERVAL: ${API_LOG_ROTATION_INTERVAL:-1}
      API_LOG_BACKUP_COUNT: ${API_LOG_BACKUP_COUNT:-7}
      CONFIGURE_LOGS: ${CONFIGURE_LOGS:-true}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}
      FORMSFLOW_ADMIN_URL: ${FORMSFLOW_ADMIN_URL}
      SHARED_REALM: ${SHARED_REALM:-false}
      CSS_API_BASE_URL: ${CSS_API_BASE_URL:-}
      CSS_API_CLIENT_ID: ${CSS_API_CLIENT_ID:-}
      CSS_API_SECRET: ${CSS_API_SECRET:-}
      CSS_API_LOGIN_URL: ${CSS_API_LOGIN_URL:-}
      CSS_ENV: ${CSS_ENV:-}
      CSS_INTEGRATION_ID: ${CSS_INTEGRATION_ID:-}
      USER_NAME_DISPLAY_CLAIM: ${USER_NAME_DISPLAY_CLAIM:-}
      GUNICORN_WORKERS: ${GUNICORN_WORKERS:-5}
      GUNICORN_THREADS: ${GUNICORN_THREADS:-10}
      GUNICORN_TIMEOUT: ${GUNICORN_TIMEOUT:-120}
      
    stdin_open: true # -i
    tty: true # -t
    networks:
      - forms-flow-network

  forms-flow-documents-api:
    container_name: forms-flow-documents-api
    build:
      context: ./../../forms-flow-documents/
      dockerfile: Dockerfile
    restart: always
    ports:
      - '5006:5006'
    volumes:
      - ./:/app:rw
    environment:
      DATABASE_URL: ${FORMSFLOW_API_DB_URL:-postgresql://postgres:changeme@forms-flow-webapi-db:5432/webapi}
      FORMSFLOW_API_CORS_ORIGINS: ${FORMSFLOW_API_CORS_ORIGINS:-*}
      JWT_OIDC_WELL_KNOWN_CONFIG: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}/.well-known/openid-configuration
      JWT_OIDC_JWKS_URI: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}/protocol/openid-connect/certs
      JWT_OIDC_ISSUER: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}
      JWT_OIDC_AUDIENCE: ${KEYCLOAK_WEB_CLIENT_ID:-forms-flow-web}
      JWT_OIDC_CACHING_ENABLED: 'True'
      KEYCLOAK_URL: ${KEYCLOAK_URL}
      KEYCLOAK_URL_REALM: ${KEYCLOAK_URL_REALM:-forms-flow-ai}
      FORMSFLOW_API_URL: ${FORMSFLOW_API_URL}
      FORMSFLOW_DOC_API_URL: ${DOCUMENT_SERVICE_URL}
      FORMIO_URL: ${FORMIO_DEFAULT_PROJECT_URL}
      FORMIO_ROOT_EMAIL: ${FORMIO_ROOT_EMAIL:-admin@example.com}
      FORMIO_ROOT_PASSWORD: ${FORMIO_ROOT_PASSWORD:-changeme}
      CHROME_DRIVER_PATH: ${CHROME_DRIVER_PATH}
      CUSTOM_SUBMISSION_URL: ${CUSTOM_SUBMISSION_URL}
      CUSTOM_SUBMISSION_ENABLED: ${CUSTOM_SUBMISSION_ENABLED}
      FORMIO_JWT_SECRET: ${FORMIO_JWT_SECRET:---- change me now ---}
      FORMIO_JWT_EXPIRE: ${FORMIO_JWT_EXPIRE:-240}
      MULTI_TENANCY_ENABLED: ${MULTI_TENANCY_ENABLED:-false}
      KEYCLOAK_ENABLE_CLIENT_AUTH: ${KEYCLOAK_ENABLE_CLIENT_AUTH:-false}
      API_LOG_ROTATION_WHEN: ${API_LOG_ROTATION_WHEN:-d}
      API_LOG_ROTATION_INTERVAL: ${API_LOG_ROTATION_INTERVAL:-1}
      API_LOG_BACKUP_COUNT: ${API_LOG_BACKUP_COUNT:-7}
      CONFIGURE_LOGS: ${CONFIGURE_LOGS:-true}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}
      ENABLE_COMPACT_FORM_VIEW: ${ENABLE_COMPACT_FORM_VIEW:-false}
      CHROME_DRIVER_TIMEOUT: ${CHROME_DRIVER_TIMEOUT:-60}  # seconds


    stdin_open: true # -i
    tty: true # -t
    networks:
      - forms-flow-network

  forms-flow-data-layer:
    container_name: forms-flow-data-layer
    build:
      context: ./../../forms-flow-data-layer/
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - '5500:8000'
    volumes:
      - ./:/app:rw
    environment:
      DEBUG: ${FORMSFLOW_DATA_LAYER_DEBUG:-false}
      FORMSFLOW_DATA_LAYER_WORKERS: ${FORMSFLOW_DATA_LAYER_WORKERS:-4}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}
      MULTI_TENANCY_ENABLED: ${MULTI_TENANCY_ENABLED:-false}
      KEYCLOAK_ENABLE_CLIENT_AUTH: ${KEYCLOAK_ENABLE_CLIENT_AUTH:-false}
      KEYCLOAK_URL_REALM: ${KEYCLOAK_URL_REALM:-forms-flow-ai}
      KEYCLOAK_URL: ${KEYCLOAK_URL}
      JWT_OIDC_JWKS_URI: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}/protocol/openid-connect/certs
      JWT_OIDC_ISSUER: ${KEYCLOAK_URL}${KEYCLOAK_URL_HTTP_RELATIVE_PATH:-/auth}/realms/${KEYCLOAK_URL_REALM:-forms-flow-ai}
      JWT_OIDC_AUDIENCE: ${KEYCLOAK_WEB_CLIENT_ID:-forms-flow-web}
      JWT_OIDC_CACHING_ENABLED: True
      FORMSFLOW_DATALAYER_CORS_ORIGINS: ${FORMSFLOW_DATALAYER_CORS_ORIGINS:-*}

      # WebAPI DB URL
      FORMSFLOW_API_DB_URL: ${FORMSFLOW_API_DB_URL}
      FORMSFLOW_API_DB_HOST: ${FORMSFLOW_API_DB_HOST:-localhost}
      FORMSFLOW_API_DB_PORT: ${FORMSFLOW_API_DB_PORT:-5432}
      FORMSFLOW_API_DB_USER: ${FORMSFLOW_API_DB_USER:-postgres}
      FORMSFLOW_API_DB_PASSWORD: ${FORMSFLOW_API_DB_PASSWORD}
      FORMSFLOW_API_DB_NAME: ${FORMSFLOW_API_DB_NAME:-webapi}
      FORMSFLOW_API_DB_OPTIONS: ${FORMSFLOW_API_DB_OPTIONS}

      # Formio DB URL
      FORMIO_DB_USERNAME: ${FORMIO_DB_USERNAME}
      FORMIO_DB_PASSWORD: ${FORMIO_DB_PASSWORD}
      FORMIO_DB_URI: ${FORMIO_DB_URI:-mongodb://${FORMIO_DB_USERNAME}:${FORMIO_DB_PASSWORD}@${FORMIO_DB_HOST}:${FORMIO_DB_PORT}/${FORMIO_DB_NAME}?${FORMIO_DB_OPTIONS}}
      FORMIO_DB_HOST: ${FORMIO_DB_HOST:-mongodb}
      FORMIO_DB_PORT: ${FORMIO_DB_PORT:-27017}
      FORMIO_DB_NAME: ${FORMIO_DB_NAME:-formio}
      FORMIO_DB_OPTIONS: ${FORMIO_DB_OPTIONS:-authMechanism=SCRAM-SHA-1&authSource=admin}

      # Camunda DB URL
      CAMUNDA_DB_PASSWORD: ${CAMUNDA_DB_PASSWORD}
      CAMUNDA_DB_URL: ${CAMUNDA_DB_URL}
      CAMUNDA_DB_USER: ${CAMUNDA_DB_USER}
      CAMUNDA_DB_HOST: ${CAMUNDA_DB_HOST:-localhost}
      CAMUNDA_DB_PORT: ${CAMUNDA_DB_PORT:-5432}
      CAMUNDA_DB_NAME: ${CAMUNDA_DB_NAME:-formsflow-bpm}
      CAMUNDA_DB_OPTIONS: ${CAMUNDA_DB_OPTIONS}
    depends_on:
      - forms-flow-webapi-db
      - forms-flow-forms
      - forms-flow-bpm-db
      - forms-flow-forms-db
      - redis
      - forms-flow-bpm
    stdin_open: true # -i
    tty: true # -t
    networks:
      - forms-flow-network

networks:
  forms-flow-network:
    driver: 'bridge'

volumes:
  mdb-data:
  postgres:
