# Author: Gurumoorthy Mohan
version: '3.7'

services:
  forms-flow-bpm-db:
    image: postgres
    environment:
      POSTGRES_USER: ${CAMUNDA_POSTGRES_USER}
      POSTGRES_PASSWORD: ${CAMUNDA_POSTGRES_PASSWORD}
      POSTGRES_DB: ${CAMUNDA_POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    volumes:
      - ./postgres/camunda:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    restart: unless-stopped
    networks:
      - forms-flow-bpm-network

  forms-flow-bpm:
    build:
      context: ./../../forms-flow-bpm/
      dockerfile: Dockerfile
    restart: always
    links:
      - forms-flow-bpm-db
    ports:
      - '8000:8080'
    environment:
      - KEYCLOAK_URL=${KEYCLOAK_URL}
      - KEYCLOAK_URL_REALM=${KEYCLOAK_URL_REALM}
      - KEYCLOAK_CLIENTID=${KEYCLOAK_BPM_CLIENTID}
      - KEYCLOAK_CLIENTSECRET=${KEYCLOAK_BPM_CLIENTSECRET}
      - JDBC_URL=${CAMUNDA_JDBC_URL}
      - JDBC_USER=${CAMUNDA_POSTGRES_USER}
      - JDBC_PASSWORD=${CAMUNDA_POSTGRES_PASSWORD}
      - JDBC_DRIVER=${CAMUNDA_JDBC_DRIVER}
      - APP_SECURITY_ORIGIN=${APP_SECURITY_ORIGIN}
      - FORMSFLOW_API_URL=${FORMSFLOW_API_URL}
      - FORMIO_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - FORMIO_ROOT_EMAIL=${FORMIO_ROOT_EMAIL}
      - FORMIO_ROOT_PASSWORD=${FORMIO_ROOT_PASSWORD}
    networks:
      - forms-flow-bpm-network
 
  forms-flow-forms-db:
    image: mongo
    restart: always
    hostname: forms-flow-forms-db
    ports:
      - '27018:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${FORMIO_MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${FORMIO_MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${FORMIO_MONGO_DATABASE}
    volumes:
      - ./mongodb/data/db/:/data/db/
      - ./mongodb/data/log/:/var/log/mongodb/
      - ./mongodb/mongod.conf:/etc/mongod.conf
    networks:
      - forms-flow-forms-network

  forms-flow-forms:
    build:
      context: ./../../forms-flow-forms/
      dockerfile: Dockerfile
    # The app will restart until Mongo is listening
    restart: always
    links:
      - forms-flow-forms-db
    ports:
      - '3001:3001'
    # The application wants to download things to the local directory
    # TODO: really wish I could mount this as read-only
    volumes:
      - ./:/app:rw
    environment:
      DEBUG: formio:*
      NODE_CONFIG: '{"mongo": "mongodb://forms-flow-forms-db:27017/formio"}'
      ROOT_EMAIL: ${FORMIO_ROOT_EMAIL}
      ROOT_PASSWORD: ${FORMIO_ROOT_PASSWORD}
    stdin_open: true # -i
    tty: true # -t
    networks:
      - forms-flow-forms-network

  forms-flow-ai:
    build:
      context: ./../../forms-flow-web/
      dockerfile: Dockerfile
    volumes:
      - '.:/app'
      - '/app/node_modules'
    ports:
      - '3000:3000'
    tty: true
    environment:
      - NODE_ENV=${NODE_ENV}
      - REACT_APP_CLIENT_ROLE=${CLIENT_ROLE}
      - REACT_APP_STAFF_REVIEWER_ROLE=${REVIEWER_ROLE}
      - REACT_APP_STAFF_DESIGNER_ROLE=${DESIGNER_ROLE}
      - REACT_APP_CLIENT_ID=${CLIENT_ROLE_ID}
      - REACT_APP_STAFF_REVIEWER_ID=${REVIEWER_ROLE_ID}
      - REACT_APP_STAFF_DESIGNER_ID=${DESIGNER_ROLE_ID}
      - REACT_APP_USER_RESOURCE_FORM_ID=${USER_RESOURCE_ID}
      - REACT_APP_API_SERVER_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - REACT_APP_API_PROJECT_URL=${FORMIO_DEFAULT_PROJECT_URL}
      - REACT_APP_KEYCLOAK_CLIENT=${KEYCLOAK_WEB_CLIENTID}
      - REACT_APP_ANONYMOUS_ID=${ANONYMOUS_ID}
      - REACT_APP_INSIGHT_API_BASE=${INSIGHT_API_BASE}
      - REACT_APP_INSIGHTS_API_KEY=${INSIGHT_API_KEY}
      - REACT_APP_WEB_BASE_URL=${WEB_API_BASE_URL}

    networks:
      - forms-flow-web-network

  forms-flow-webapi-db:
    image: postgres:11
    environment:
      POSTGRES_USER: ${WEB_API_POSTGRES_USER}
      POSTGRES_PASSWORD: ${WEB_API_POSTGRES_PASSWORD}
      POSTGRES_DB: ${WEB_API_POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    ports:
      - '6432:5432'
    restart: unless-stopped
    volumes:
      - ./postgres/webapi:/var/lib/postgresql/data
    networks:
      - forms-flow-webapi-network

  forms-flow-webapi:
    build:
      context: ./../../forms-flow-api/
      dockerfile: Dockerfile
    restart: unless-stopped
    links:
      - forms-flow-webapi-db
    ports:
      - '5000:5000'
    volumes:
      - ./:/app:rw
    environment:
      DATABASE_URL: ${WEB_API_DATABASE_URL}
      BPM_TOKEN_API: ${KEYCLOAK_TOKEN_URL}
      BPM_CLIENT_ID: ${KEYCLOAK_BPM_CLIENTID}
      BPM_CLIENT_SECRET: ${KEYCLOAK_BPM_CLIENTSECRET}
      BPM_API_BASE: ${CAMUNDA_API_URI}
      JWT_OIDC_WELL_KNOWN_CONFIG: ${KEYCLOAK_JWT_OIDC_CONFIG}
      JWT_OIDC_ALGORITHMS: 'RS256'
      JWT_OIDC_JWKS_URI: ${KEYCLOAK_JWT_OIDC_JWKS_URI}
      JWT_OIDC_ISSUER: ${KEYCLOAK_JWT_OIDC_ISSUER}
      JWT_OIDC_AUDIENCE: ${KEYCLOAK_WEB_CLIENTID}
      JWT_OIDC_CACHING_ENABLED: 'True'
      JWT_OIDC_JWKS_CACHE_TIMEOUT: 300
    stdin_open: true # -i
    tty: true # -t
    networks:
      - forms-flow-webapi-network

networks:
  forms-flow-webapi-network:
  forms-flow-forms-network:
  forms-flow-bpm-network:
  forms-flow-web-network:
    driver: 'bridge'

volumes:
  mdb-data:
  postgres:
