.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 100%;
  max-width: 500px;
  padding: 5rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem 0 rgba(3, 3, 3, 0.16),
    0 0 0.375rem 0 rgba(3, 3, 3, 0.08);
  margin: 1rem auto;
  /* border-radius: 8px; */
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 150px;
}

.heading {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.formTenant {
  width: 100%;
}

.formGroupTenant {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.formLabelTenant {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.66666667;
}

.btnTenant {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 6px 10px;
  font-size: 0.875rem;
  line-height: 1.3333333;
  border-radius: 1px;
}

.lineTenant {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.supportText {
  color: black;
  text-align: center;
}

.supportLink {
  text-align: center;
}

.supportLink a {
  color: #007bff;
  text-decoration: none;
}

.supportLink a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .landing {
    flex-direction: column;
    justify-content: center;
  }

  .formContainer {
    margin: auto;
  }
}
