@import "../../../variables.scss";

#js-properties-panel {
  width: 400px;
  overflow: auto;
}

.bpmn-main-container-editor {
  width: 100%;
  display: flex;
  margin-top: 10px;
  resize: vertical;
  overflow: hidden;
  max-height: calc(100vh - 15.45rem);
  min-height: calc(100vh - 16rem);
  border: 1px solid $black;
}

/* ------------------- this is for diagram settings icons start  ------------------- */
.card-body {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  color: $black;
}

.card-overflow {
  padding-left: 14px !important;
}

.card-layout {
  padding-left: 16px;
  padding-top: 16px;
}
.card-border {
  border-left: solid 1px $gray-medium;
}

.card-header.bg-default .card-title {
  color: $white;
}

.card-header .card-title {
  color: $black; 
}
/* ------------------- this is for diagram settings icons end  ------------------- */

.bpm-modeler-container { 
   height: calc(100vh - 15rem);
}

.bpmn-viewer-container {
  width: 100%;
}

.tjs-table-container::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  background-color: transparent;
  display: block;
  opacity: 0;
  scrollbar-width:8px !important;
}
.tjs-table-container {
  scrollbar-width: 8px; 
  scrollbar-color: #888  #E2E1FC; 
}
.properties-panel-parent {
  border-left: 1px solid $black;
}

.grab-cursor {
  cursor: move;
  cursor: grab;
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: $primary !important;
}

.highlight .djs-label {
  fill: $white !important;
}

.zoom-container {
  position: relative;
  bottom: 18em;
  right: 15px;
  pointer-events: none;
}

.btn-zoom {
  pointer-events: auto;
}

.deploy-checkbox {
  margin-right: 15px;
  font-size: 16px;
  margin-top: 7px;
}

// Override bpmn-js-properties-panel style for removing entry (trash can)
.bio-properties-panel-remove-entry {
  visibility: visible;
}

[data-entry-id="isExecutable"] {
  display: none;
}

.bjsl-button {
  pointer-events: none;
}

.bjsl-button svg {
  display: none;
}