@import "../../../variables.scss";

#js-properties-panel {
  width: 400px;
  overflow: auto;
}

.bpmn-main-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  height: 100%;
  resize: vertical;
}

/* ------------------- this is for diagram settings icons start  ------------------- */

/*
.card-body {
  padding: 0;

  .icon-back {
    // @include clickableFeedback1();

    display: flex;
    align-items: center;

    padding-right: var(--spacer-150);
    padding-left: var(--spacer-200);

    cursor: pointer;
  }

  .editor-header-text {
    display: flex;
    margin: 0;
    align-items: center;
  }

  .navbar-description {
    display: flex;
    flex-grow: 1;

    margin-right: var(--spacer-150);

    gap: var(--spacer-150);
  }

  .status {
    display: flex;
    align-items: center;

    margin: 0;

    color: white;
  }

  & > div {
    display: flex;
    align-items: stretch;
  }

  .buttons {
    padding: 1rem 0;
    padding-right: 2rem;
  }

  .btn-dark,
  .btn-light {
    padding: 0.5rem 1rem !important;
  }
}

*/

.card-overflow {
  padding-left: 14px !important;
}

.card-layout {
  padding-left: 16px;
  padding-top: 16px;
}
.card-border {
  border-left: solid 1px $gray-medium;
}

.card-header.bg-default .card-title {
  color: $white;
}

.card-header .card-title {
  color: $black; 
}
/* ------------------- this is for diagram settings icons end  ------------------- */

.bpm-modeler-container {
  height: 100%;
}

.bpmn-viewer-container {
  width: 100%;
}

.properties-panel-parent {
  border-left: 1px solid $gray-medium;
  // border-left: none;
}

.grab-cursor {
  cursor: move;
  cursor: grab;
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: $primary !important;
}

.highlight .djs-label {
  fill: $white !important;
}

.zoom-container {
  position: relative;
  bottom: 18em;
  right: 15px;
  pointer-events: none;
}

.btn-zoom {
  pointer-events: auto;
}

.deploy-checkbox {
  margin-right: 15px;
  font-size: 16px;
  margin-top: 7px;
}

// Override bpmn-js-properties-panel style for removing entry (trash can)
.bio-properties-panel-remove-entry {
  visibility: visible;
}

[data-entry-id="isExecutable"] {
  display: none;
}

.bjsl-button {
  pointer-events: none;
}

.bjsl-button svg {
  display: none;
}