@import "../../../variables.scss";

#js-properties-panel {
  width: 400px;
  overflow: auto;
}

.bpmn-main-container {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  height: auto;
  resize: vertical;
  overflow: hidden;
}

/* ------------------- this is for diagram settings icons start  ------------------- */
.card-body {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  color: $dark;
}

.card-overflow {
  padding-left: 14px !important;
}

.card-layout {
  padding-left: 16px;
  padding-top: 16px;
}
.card-border {
  border-left: solid 1px $gray-200;
}

.card-header.bg-default .card-title {
  color: $white;
}

.card-header .card-title {
  color: $dark; 
}
/* ------------------- this is for diagram settings icons end  ------------------- */

.bpm-modeler-container {
  height: 100%;
}

.bpmn-viewer-container {
  width: 100%;
}

.properties-panel-parent {
  border: 1px solid $dark;
  border-left: none;
}

.grab-cursor {
  cursor: move;
  cursor: grab;
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: $primary-500 !important;
}

.highlight .djs-label {
  fill: $white !important;
}

.zoom-container {
  position: relative;
  bottom: 18em;
  right: 15px;
  pointer-events: none;
}

.btn-zoom {
  pointer-events: auto;
}

.deploy-checkbox {
  margin-right: 15px;
  font-size: 16px;
  margin-top: 7px;
}

// Override bpmn-js-properties-panel style for removing entry (trash can)
.bio-properties-panel-remove-entry {
  visibility: visible;
}

[data-entry-id="isExecutable"] {
  display: none;
}

.bjsl-button {
  pointer-events: none;
}

.bjsl-button svg {
  display: none;
}