@import "../../variables.scss";

.text-blue {
  color: $primary;
}

.click-element {
  cursor: pointer;
}
.down-size{
  width: 13px;
  height: 15px;
}
.click-element[dat-title]:hover:after,i[dat-title]:hover:after {
  font-size: 12px;
  font-weight: 300;
  content: attr(dat-title);
  padding: 4px 8px;
  color: $white;
  position: absolute;
  background-color: $black;
  //left: 1rem;
  white-space: nowrap;
  z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px $gray;
  -webkit-box-shadow: 0px 0px 4px $gray;
  box-shadow: 0px 0px 4px $gray;
  background-image: -moz-linear-gradient(top, $gray-medium, $gray-medium-dark);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $gray-medium),color-stop(1, $gray-medium-dark));
  background-image: -webkit-linear-gradient(top, $gray-medium, $gray-medium-dark);
  background-image: -moz-linear-gradient(top, var$gray-medium, $gray-medium-dark);
  background-image: -ms-linear-gradient(top, $gray-medium, $gray-medium-dark);
  background-image: -o-linear-gradient(top, $gray-medium, $gray-medium-dark);
}

.operator-box-container{
  display: inline-block;
}
.operator-selector{
  border:none;
  -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  //  width: 45px;
  padding: 0 0 0 3px;
  padding-right: 12px;
  background-color: $danger;
  outline: none;
  color: $primary;
}
.operator-selector select {
  display: none; /*hide original SELECT element:*/
}
.selection-item{
  background-color: $white;
}