.text-blue {
  color: var(--color-primary-dkr);
}

.click-element {
  cursor: pointer;
}
.down-size{
  width: 13px;
  height: 15px;
}
.click-element[dat-title]:hover:after,i[dat-title]:hover:after {
  font-size: 12px;
  font-weight: 300;
  content: attr(dat-title);
  padding: 4px 8px;
  color: var(--color-white);
  position: absolute;
  background-color: var(--color-black);
  //left: 1rem;
  white-space: nowrap;
  z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px var(--color-deep-gray);
  -webkit-box-shadow: 0px 0px 4px var(--color-deep-gray);
  box-shadow: 0px 0px 4px var(--color-deep-gray);
  background-image: -moz-linear-gradient(top, var(--color-gray-200), var(--color-gray-400));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, var(--color-gray-200)),color-stop(1, var(--color-gray-400)));
  background-image: -webkit-linear-gradient(top, var(--color-gray-200), var(--color-gray-400));
  background-image: -moz-linear-gradient(top, var(--color-gray-200), var(--color-gray-400));
  background-image: -ms-linear-gradient(top, var(--color-gray-200), var(--color-gray-400));
  background-image: -o-linear-gradient(top, var(--color-gray-200), var(--color-gray-400));
}

.operator-box-container{
  display: inline-block;
}
.operator-selector{
  border:none;
  -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  //  width: 45px;
  padding: 0 0 0 3px;
  padding-right: 12px;
  background-color: var(--color-info-background);
  outline: none;
  color: var(--color-primary-dkr);
}
.operator-selector select {
  display: none; /*hide original SELECT element:*/
}
.selection-item{
  background-color: var(--color-white);
}
//TODO Remove this when Semantic UI css is removed. Semantic UI css override formio css tooltip
[data-tooltip]:before {
  visibility: unset !important;
  position: initial !important;
  box-shadow: none !important;
  opacity: 1 !important;
  cursor:pointer !important;
}
[data-tooltip]:after {
  opacity: 0 !important;
}
.fa-question-circle:before {
  content: "\f059" !important;
}
