@import "./themes.scss";
@import "./base.scss";

.content {
 // padding-bottom: 2.5rem;
}

 
.react-bootstrap-table table {
  table-layout: auto !important;
  position:relative !important;
}
.react-bootstrap-table{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
 

#app {
  background: $white;
}
