$primary-blue: #036 !important;
$white: #fff !important;
$yellow: #fcba19;
$purple: #7979d4;
$green: #43893e;
$light-white:rgba(255,255,255,0.95);
$black:#000;
$light-blue: #4d61fc;
$light-grey: #f3f3f3;
$dark-blue: #1a5a96;
$blue: #001dff;
$gray: #b4b4b4;
$gray-100: #f8f9fa;
$gray-300: #dee2e6;
$border-gray:#726969;
$hover-gray: #8e8b8b;
$border-line: #dfdfdf;
$active-stepper: #3f51b5;
$inactive-stepper:  #808080;
$stepper-line-active: #9eabf5;
$black: black;
