#### Analytics - Variables ####
#INSIGHT_API_KEY=
#INSIGHT_API_URL=

################################################################
# ===== formsflow.ai Python Webapi ENV Variables - START  =====#
################################################################


KEYCLOAK_URL=http://{your-ip-address}:8080
WEB_BASE_URL=http://{your-ip-address}:3000
FORMIO_DEFAULT_PROJECT_URL=http://{your-ip-address}:3001

################################################################
# ===== formsflow.ai web ENV Variables - START  ===============#
################################################################

FORMSFLOW_API_URL=http://{your-ip-address}:5000
BPM_API_URL=http://{your-ip-address}:8000/camunda


################################################################
# ===== formsflow.ai BPM ENV Variables - START  ===============#
################################################################

#KEYCLOAK_URL_REALM=forms-flow-ai
#KEYCLOAK_BPM_CLIENT_ID=forms-flow-bpm
#KEYCLOAK_BPM_CLIENT_SECRET=e4bdbd25-1467-4f7f-b993-bc4b1944c943
WEBSOCKET_SECURITY_ORIGIN=http://{your-ip-address}:3000

