#### Analytics - Variables ####
#INSIGHT_API_KEY=
#INSIGHT_API_URL=

##########


#KEYCLOAK_WEB_CLIENT_ID=forms-flow-web
FORMSFLOW_API_URL=http://{your-ip-address}:5000
BPM_API_URL=http://{your-ip-address}:8000/camunda
KEYCLOAK_URL=http://{your-ip-address}:8080
WEBSOCKET_SECURITY_ORIGIN=http://{your-ip-address}:3000
FORMIO_FORMS_URL=http://{your-ip-address}:3001
FORMIO_DEFAULT_PROJECT_URL=http://{your-ip-address}:3001
FORMIO_WEB_URL=http://{your-ip-address}:3001
KEYCLOAK_BPM_URL=http://{your-ip-address}:8080