.edit-border{
    border: 1px solid #c2c0be;
    border-radius: 5px;
}

.edit-input{
    max-width: 150px;
}

.form-history{
    max-width: 150px;
    min-width: 150px;
}

.form-title{
    height: 45px;
}