Brotli==1.1.0
Flask-Caching==2.1.0
Flask-Migrate==4.0.7
Flask-Moment==1.0.5
Flask-SQLAlchemy==3.1.1
Flask==2.3.3
Jinja2==3.1.3
Mako==1.3.2
MarkupSafe==2.1.5
PyJWT==2.8.0
PySocks==1.7.1
SQLAlchemy-Utils==0.41.1
SQLAlchemy==2.0.28
Werkzeug==3.0.1
alembic==1.13.1
aniso8601==9.0.1
async-timeout==4.0.3
attrs==23.2.0
blinker==1.7.0
cachelib==0.9.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
ecdsa==0.18.0
flask-jwt-oidc==0.3.0
flask-marshmallow==1.2.1
flask-restx==1.3.0
formsflow_api_utils @ git+https://github.com/AOT-Technologies/forms-flow-ai.git@d4f8bf6d3f0d0917d799724f996b599ab30dafaf#subdirectory=forms-flow-api-utils
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.6
importlib_resources==6.3.2
itsdangerous==2.1.2
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
kaitaistruct==0.10
marshmallow-sqlalchemy==1.0.0
marshmallow==3.21.1
nested-lookup==0.2.25
outcome==1.3.0.post0
packaging==24.0
psycopg2-binary==2.9.9
pyOpenSSL==24.1.0
pyasn1==0.5.1
pycparser==2.21
pyparsing==3.1.2
python-dotenv==1.0.1
python-jose==3.3.0
pytz==2024.1
redis==5.0.3
referencing==0.34.0
requests==2.31.0
rpds-py==0.18.0
rsa==4.9
selenium-wire==5.1.0
selenium==4.18.1
sentry-sdk==1.43.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio-websocket==0.11.1
trio==0.25.0
typing_extensions==4.10.0
urllib3==2.2.1
wsproto==1.2.0
zstandard==0.22.0
setuptools==69.0.2
