Brotli==1.1.0
Flask-Caching==2.0.1
Flask-Migrate==4.0.7
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.1.1
Flask==2.3.3
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==3.0.1
PyJWT==2.9.0
PySocks==1.7.1
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.35
Werkzeug==3.0.4
alembic==1.13.3
aniso8601==9.0.1
async-timeout==4.0.3
attrs==24.2.0
blinker==1.7.0
cachelib==0.13.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
ecdsa==0.19.0
exceptiongroup==1.2.2
flask-jwt-oidc==0.7.0
flask-marshmallow==1.2.1
flask-restx==1.3.0
formsflow_api_utils @ git+https://github.com/AOT-Technologies/forms-flow-ai.git@develop#subdirectory=forms-flow-api-utils
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
itsdangerous==2.2.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
kaitaistruct==0.10
marshmallow-sqlalchemy==1.1.0
marshmallow==3.22.0
nested-lookup==0.2.25
outcome==1.3.0.post0
packaging==24.1
psycopg2-binary==2.9.9
pyOpenSSL==24.2.1
pyasn1==0.6.1
pycparser==2.22
pyparsing==3.1.4
python-dotenv==1.0.1
python-jose==3.3.0
pytz==2024.2
redis==5.1.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
rsa==4.9
selenium-wire==5.1.0
selenium==4.25.0
sentry-sdk==2.16.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio-websocket==0.11.1
trio==0.26.2
typing_extensions==4.12.2
urllib3==2.2.3
websocket-client==1.8.0
wsproto==1.2.0
zipp==3.20.2
zstandard==0.23.0
setuptools==75.2.0
