Brotli==1.1.0
Deprecated==1.2.18
Flask-Caching==2.3.1
Flask-Migrate==4.1.0
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.1.1
Flask==3.0.3
Jinja2==3.1.6
Mako==1.3.9
MarkupSafe==3.0.2
PyJWT==2.10.1
PySocks==1.7.1
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.40
Werkzeug==3.1.3
alembic==1.15.2
aniso8601==10.0.0
attrs==25.3.0
blinker==1.7.0
cachelib==0.13.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
ecdsa==0.19.1
flask-jwt-oidc==0.7.0
flask-marshmallow==1.3.0
flask-restx==1.3.0
formsflow_api_utils @ git+https://github.com/aot-technologies/forms-flow-ai.git@develop#subdirectory=forms-flow-api-utils
googleapis-common-protos==1.69.2
grpcio==1.71.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
itsdangerous==2.2.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
kaitaistruct==0.10
marshmallow-sqlalchemy==1.4.1
marshmallow==3.26.1
nested-lookup==0.2.25
opentelemetry-api==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-exporter-otlp-proto-grpc==1.31.1
opentelemetry-exporter-otlp-proto-http==1.31.1
opentelemetry-exporter-otlp==1.31.1
opentelemetry-instrumentation-flask==0.52b1
opentelemetry-instrumentation-requests==0.52b1
opentelemetry-instrumentation-wsgi==0.52b1
opentelemetry-instrumentation==0.52b1
opentelemetry-proto==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
opentelemetry-util-http==0.52b1
outcome==1.3.0.post0
packaging==24.2
protobuf==5.29.5
psycopg2-binary==2.9.10
pyOpenSSL==25.0.0
pyasn1==0.4.8
pycparser==2.22
pyparsing==3.2.3
python-dotenv==1.1.0
python-jose==3.4.0
pytz==2025.2
redis==5.2.1
referencing==0.36.2
requests==2.32.4
rpds-py==0.24.0
rsa==4.9
selenium-wire==5.1.0
selenium==4.25.0
sentry-sdk==2.25.1
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio-websocket==0.12.2
trio==0.29.0
typing_extensions==4.13.1
urllib3==2.5.0
websocket-client==1.8.0
wrapt==1.17.2
wsproto==1.2.0
zipp==3.21.0
zstandard==0.23.0
