###############################################################################
#  This file is a sample file, for Docker compose to work with the settings   #
#  rename this file to .env                                                   #
#  Uncomment the variables if any changes from the default values             #
###############################################################################
# ===== formsflow.ai Python Exportapi ENV Variables - START  =====================



##Environment variables for WEB_API/FORMSFLOW_EXPORT_API in the adaptive tier.
##DB Connection URL for formsflow.ai
#FORMSFLOW_API_DB_URL=postgresql://postgres:changeme@forms-flow-webapi-db:5432/webapi
##formsflow.ai database postgres user
#FORMSFLOW_API_DB_USER=postgres
##formsflow.ai database postgres password
#FORMSFLOW_API_DB_PASSWORD=changeme
##formsflow.ai database name
#FORMSFLOW_API_DB_NAME=webapi

##URL to your Keycloak server
KEYCLOAK_URL=http://{your-ip-address}:8080
##The Keycloak realm to use
#KEYCLOAK_URL_REALM=forms-flow-ai
#KEYCLOAK_BPM_CLIENT_ID=forms-flow-bpm
#KEYCLOAK_WEB_CLIENT_ID=forms-flow-web
#KEYCLOAK_BPM_CLIENT_SECRET=e4bdbd25-1467-4f7f-b993-bc4b1944c943

##web Api End point
FORMSFLOW_API_URL=http://{your-ip-address}:5000
## Port should whether Docker starts internally
FORMSFLOW_DOC_API_URL=http://{your-ip-address}:5006
CHROME_DRIVER_PATH=/usr/local/bin/chromedriver
##web API CORS origins
FORMSFLOW_API_CORS_ORIGINS=*

##Env For Unit Testing
# TEST_REVIEWER_USERID=
# TEST_REVIEWER_PASSWORD=
# DATABASE_URL_TEST=

#FORMIO configuration
FORMIO_DEFAULT_PROJECT_URL=http://{your-ip-address}:3001
FORMIO_ROOT_EMAIL=admin@example.com
FORMIO_ROOT_PASSWORD=changeme

#custom submission
CUSTOM_SUBMISSION_ENABLED=false
CUSTOM_SUBMISSION_URL=http://{your-ip-address}:6212
