###############################################################################
#  This file is a sample file, for Docker compose to work with the settings   #
#  rename this file to .env                                                   #
#  Uncomment the variables if any changes from the default values             #
###############################################################################
# ===== formsflow.ai Python Documentsapi/ExportPDF ENV Variables - START  =====================


##URL to your Keycloak server
KEYCLOAK_URL=http://{your-ip-address}:8080
##The Keycloak realm to use
#KEYCLOAK_URL_REALM=forms-flow-ai
##keycloak client ids and secrets
#KEYCLOAK_BPM_CLIENT_ID=forms-flow-bpm
#KEYCLOAK_WEB_CLIENT_ID=forms-flow-web
#KEYCLOAK_BPM_CLIENT_SECRET=e4bdbd25-1467-4f7f-b993-bc4b1944c943

##web API End point
FORMSFLOW_API_URL=http://{your-ip-address}:5000
##Documents API end point
FORMSFLOW_DOC_API_URL=http://{your-ip-address}:5006
##chrome driver path
CHROME_DRIVER_PATH=/usr/local/bin/chromedriver
##Documents API CORS origins
FORMSFLOW_API_CORS_ORIGINS=*

##FORMIO configuration
FORMIO_DEFAULT_PROJECT_URL=http://{your-ip-address}:3001
FORMIO_ROOT_EMAIL=admin@example.com
FORMIO_ROOT_PASSWORD=changeme

##custom submission
CUSTOM_SUBMISSION_ENABLED=false
CUSTOM_SUBMISSION_URL=http://{your-ip-address}:6212

##Enable this to minimize extra gaps between form components and fit more content on the screen.
#ENABLE_COMPACT_FORM_VIEW=false

##Redis configuration
REDIS_URL=redis://{your-ip-address}:6379/0
##Redis cluster mode enabled/disabled
REDIS_CLUSTER=false

##Log File Rotation Configuration for API Logs
##CONFIGURE_LOGS: Set to 'false' to disable log file rotation. Default value is true
##API_LOG_ROTATION_WHEN: Specifies the frequency of log file rotation - 'd' for days, 'h' for hours, 'm' for minutes.
##API_LOG_ROTATION_INTERVAL: Sets the time interval for log file rotation - '1' for every day.
##API_LOG_BACKUP_COUNT: Determines the number of backup log files to keep - '7' for logs from the past 7 day.

#API_LOG_ROTATION_WHEN=d
#API_LOG_ROTATION_INTERVAL=1
#API_LOG_BACKUP_COUNT=7
CONFIGURE_LOGS=false

# Timeout for the chrome driver to wait for the page to load
#CHROME_DRIVER_TIMEOUT = 60 # seconds

##Multitenancy  ENV Variables
#MULTI_TENANCY_ENABLED=false
#KEYCLOAK_ENABLE_CLIENT_AUTH=false

##Additional variables for Local setup & run
##Configuration variables for JWT OIDC verification
##URL for the OpenID Connect well-known configuration
#JWT_OIDC_WELL_KNOWN_CONFIG=http://{your-ip-address}:8080/auth/realms/forms-flow-ai/.well-known/openid-configuration
##Endpoint to fetch public keys for verifying JWT signatures
#JWT_OIDC_JWKS_URI=http://{your-ip-address}:8080/auth/realms/forms-flow-ai/protocol/openid-connect/certs
##URL of the OIDC issuer
#JWT_OIDC_ISSUER=http://{your-ip-address}:8080/auth/realms/forms-flow-ai
##Expected audience value for validating JWTs
#JWT_OIDC_AUDIENCE=forms-flow-web
##Enables caching of OIDC configuration and JWKS data
#JWT_OIDC_CACHING_ENABLED ='True'
##Formio url
#FORMIO_URL=http://{your-ip-address}:3001


##Additional variables for Unit Testing
##Testing: when using tests/docker/docker-compose.yml,
##Keep localhost  instead of {your-ip-address} and the test ports (Keycloak 8081; Forms at 8080 via proxy)
##JWT_OIDC_TEST_PRIVATE_KEY_PEM=
##FLASK_ENV=testing
##FORMIO_TEST_JWT_TOKEN=

# ===== formsflow.ai Python Documentsapi ENV Variables - END  =====================