# Author: Gurumoorthy Mohan
version: "3.7"

x-redash-service: &redash-service
  build: https://github.com/AOT-Technologies/redash.git 
  depends_on:
      - postgres
      - redis
  env_file: redash.env
  restart: always

services:
  server:
    <<: *redash-service
    command: server
    ports:
      - '7000:5000'
    environment:
      REDASH_WEB_WORKERS: 4
  scheduler:
    <<: *redash-service
    command: scheduler
    environment:
      QUEUES: "celery"
      WORKERS_COUNT: 1
  scheduled_worker:
    <<: *redash-service
    command: worker
    environment:
      QUEUES: "scheduled_queries,schemas"
      WORKERS_COUNT: 1
  adhoc_worker:
    <<: *redash-service
    command: worker
    environment:
      QUEUES: "queries"
      WORKERS_COUNT: 2
  redis:
    image: redis:latest
    restart: always
  postgres:
    image: postgres:9.6-alpine
    ports:
      - '7432:5432'
    restart: always
    env_file: redash.env
    volumes:
      - ./postgres/analytics:/data/postgres
