$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #373a3c;
$gray-900: #212529;
$black:    #000;

$blue:    #2780E3;
$indigo:  #6610f2;
$purple:  #613d7c;
$pink:    #e83e8c;
$red:     #FF0039;
$orange:  #F2661F;
$yellow:  #BED32B;
$green:   #3FB618;
$teal:    #20c997;
$cyan:    #9954BB;
$lightblue: lighten($blue, 20%);

$primary:       $blue;
$secondary:     $orange;
$success:       $green;
$info:          $lightblue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;


@import "~bootstrap/scss/bootstrap.scss";
$bcgov-font-path: "/node_modules/@bcgov/bootstrap-theme/dist/fonts/";
@import '~font-awesome/scss/font-awesome';
@import '~formiojs/dist/formio.full.min.css';
@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";
@import "~@bcgov/bootstrap-theme/dist/scss/common";
@import "~@bcgov/bootstrap-theme/dist/css/bootstrap-theme.min.css";

.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1350px;
}
.container
{
  padding-left: 0px;
  padding-right: 0px;
}
.logo {
  height: 1.9em;
}
h4{
  font-size: 1.2rem;
}
#main {
  margin-top: 30px;
}
body{
  font-size: 16px;
  font-family: Nunito Sans,SemiBold;
}

.loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.btn{
  margin-right: 5px;
}
.input-group{
  .input-group-addon{
    position: absolute;
    right: 5px;
    top: 7px;
  }
  .radio-inline{
    margin-left: 20px;

    label{
      margin-right: 2rem;
    }
  }
}
.well{
  border: 1px solid #eeeeee;
  padding: 1rem;
  background-color: #f8f8f8bf;
}
.formio-component-panel{
  border:1px solid#eeeeee;

  .panel-heading{
    background-color: #eeeeee;
    padding: 10px 0 10px 10px;

    .panel-title i{
      font-size: 12px;
    }
  }
  .panel-body{
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}
.page-item.active .page-link
{
  background-color: #036 !important;
  border-color: #56595d !important;
}
h5, .h5
{
  font-size: 16px !important;
}
.bg-default
{
  background-color:#38598a;
  border: #38598a;
  color:white !important;
}
.text-muted {
  color: #ffff !important;
}
.panel-heading
{
    background-color: #38598a;
    border: #38598a;
    color: white !important;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    margin-bottom: 8px;
}
.formio-error-wrapper, .has-error {
  color:red;
  background-color: #fff;
  border-color:red;

  label {
    color: red;
  }
}
.formio-errors .error{
  color: red;
}
.is-invalid{
  background-color: #ffd1d1;
}
.nav-dropdown{
  .dropdown-menu{
    width: 15rem;
    height: 14rem;
    padding: 15px 20px 0 20px;
    right: 0;
    top: 2rem;
    left: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .dropdown-toggle{
    color: white !important;
    a{
      text-decoration: none;
    }
  }
  .userIcon{
    padding: 0 0 0 0;
    font-size: 2rem;
    float: right;
    color: #1264b6e0;
  }
}
.nav-dropdown :hover{
  text-decoration: none !important;
}
.navbar-nav
{
  padding-left: 70px !important;
  padding-right: 10px;
}
.main-nav
{
  text-decoration: none !important;
  color: #ffff !important;
  font-size: 20px !important;
}
.nav-user-role
{
color:#003366;
font-Size:15px;
font-weight: 600;
padding: 0rem 0rem;
}
.nav-user-email
{
  font-size: 14px;
  padding: 0rem 0rem;
  color: #373A3C;
}
.nav-user-name
{
  font-size: 20px;
  padding: 0rem 0rem;
  font-weight: 600;
  color: #373A3C;
}
.nav-logout
{
  cursor: pointer;
  padding: 0rem 0rem;
  font-size: 16px;
  
}
.nav-tabs .nav-link.active{
  color: #4D4D4D;
  background-color: #f5f5f5;
  border-color: 1px solid #f5f5f5 !important;
}
.nav-link{
  a{
    color: black;
  }
}
.active{
  background-color: white;
}
.active{
  border-bottom: 1px solid #fcba19;
  background-color: transparent;
}