//style.scss
@charset "UTF-8";

@import "./variables.scss";

.nav-dropdown {
  .dropdown-menu {
    width: 15rem;
    height: 14rem;
    padding: 15px 20px 0 20px;
    right: 0;
    top: 2rem;
    left: auto;
    box-shadow: 0 8px 16px 0 $dark;
  }

  .dropdown-toggle {
    color: $white !important;

    a {
      text-decoration: none;
    }
  }

  .userIcon {
    padding: 0 0 0 0;
    font-size: 2rem;
    float: right;
    color: $primary-600;
  }
}

.nav-dropdown :hover {
  text-decoration: none !important;
}

.nav-custom-tab {
  padding-left: 60px !important;
}

.main-nav {
  text-decoration: none !important;
  color:$dark !important;
  font-size: 20px !important;
}

.nav-user-role {
  color: $primary-600;
  font-size: 15px;
  font-weight: bold;
  padding: 0 0;
}

.nav-user-email {
  font-size: 14px;
  padding: 0 0;
  color: $dark;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-user-name {
  font-size: 20px;
  padding: 0 0;
  font-weight: 600;
  color: $dark;
}

.nav-logout {
  cursor: pointer;
  padding: 0 0;
  font-size: 16px;
}

.nav-tabs .nav-link.active {
  color: $gray-800;
  background-color: $white;
  border-color: $gray-200 !important;
}

.nav-link {
  a {
    color: $dark;
  }
}

.active {
  background-color: $white;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid $gray-400;
  border-left: 7px solid transparent;
  border-bottom-color: $dark;
  content: "";
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $white;
  border-left: 6px solid transparent;
  content: "";
}

.d-md-none {
  .dropup,
  .dropright,
  .dropdown,
  .dropleft {
    position: initial;
  }

  .nav-dropdown .dropdown-menu {
    position: absolute;
  }
}

.lbl-app-nanme {
  font-size: 20px;
  color: $white;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 20px;
}

.nav-icons {
  vertical-align: text-top;
  margin-right: 3px;
}

.nav-dropdown .dropdown-menu {
  height: auto !important;
}

.navbar-dark.navbar-toggler {
  border-color: $white;
}

.sub-container {
  margin-left: 15px;
}

.content {
  background-color: $gray-100;
}

.custom-app-name {
  font-size: 30px;
  font-weight: 600;
  color: $dark;
}

// overwriting default styles

.searchInvalid {
  background-color: $white;
}

.validation-err {
  color: $danger;
  margin-left: 52px;
  font-size: 13px;
}

.chip-element {
  border-radius: 100rem;
  box-shadow: 0 0 0 2px $white;

  .chip-label {
    padding: 3px 6px 3px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .chip-close {
    margin-left: 5px;
    border-radius: 50%;
    background-color: $white;
    width: 20px;
    height: 20px;
    color: $gray-800;
    font-weight: 100;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $white;
    }
  }
}

