$primary: var(--ff-primary); 
$primary-light: var(--ff-primary-light);
$danger: var(--ff-danger);
$success: var(--ff-success);
$black: var(--ff-black);
$white: var(--ff-white);
$gray-medium: var(--ff-gray-medium);
$gray-medium-dark: var(--ff-gray-medium-dark);
$gray-dark: var(--ff-gray-dark);
$gray-darkest: var(--ff-gray-gray-darkest);




