$primary: var(--ff-primary);
$primary-100: var(--ff-primary-100); 
$primary-200: var(--ff-primary-200); 
$primary-300: var(--ff-primary-300);
$primary-400: var(--ff-primary-400);
$primary-500: var(--ff-primary-500);
$primary-600: var(--ff-primary-600);
$primary-700: var(--ff-primary-700);
$danger-100: var(--ff-danger-100);
$danger: var(--ff-danger);
$secondary: var(--ff-secondary);
$success: var(--ff-success);
$success-200: var(--ff-success-200);
$info: var(--ff-info);
$danger: var(--ff-danger);
$dark: var(--ff-dark);
$white: var(--ff-white);
$gray-100: var(--ff-gray-100);
$gray-200: var(--ff-gray-200);
$gray-300: var(--ff-gray-300);
$gray-400: var(--ff-gray-400);
$gray-500: var(--ff-gray-500);
$gray-600: var(--ff-gray-600);
$gray-700: var(--ff-gray-700);
$gray-800: var(--ff-gray-800);




