@import "./../../assets/styles/themes.scss";

.footer {
    border-top: 2px solid $gray-300;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    background-color: $gray-100;
    bottom: 0;
    height: 2.3rem; /* Footer height */
    width:100%;
    z-index: 999;
    margin-top: 2px solid;
    }
  .text-align{
    bottom: 10px;
  }
  @media (max-width: 768px) {
    .footer{
      width:100% !important;
    }
  }
  
