@import "./../../assets/styles/themes.scss";

.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem; /* Footer height */
}
@media (max-width: 576px) {
  .footer{
    width:100%
  }
}
@media (min-width: 576px) {
  .footer{
    width:calc(100% - 250px);
  }
}
