.filter-sort-bar {
    margin-bottom: 1rem;
    .filter-list-view {
        position: absolute;
        z-index: 1000;
        background-color: white;
    }

    .filter-container-list {
        margin-right: 8rem;
        margin-left: 1rem;
    }
    .Select-Task-Variables{
        margin-left: 1rem; 
    }
}