.not-selected{
  border: 3px solid #b3b3b3;
  padding: 10px;
  color: #b3b3b3;
  width: 100%;
}
.service-task-list {
  box-shadow: 0 0 10px 5px #D0D0D0;
  clip-path: inset(0px -15px 0px 0px);
  max-height: 80vh;
  min-height: 80vh;
  overflow-y: auto;
  padding-right: 25px;
  border-right: 1px solid #D0D0D0;
}
.service-task-details {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.filter-container{
  position: relative;
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
  padding: 0;
  margin: 0 5px 10px 5px;
}
.filter{
  width: 85%;
  margin: 5px;
  border: none;
  font-style: italic;
}
.filter:focus{
  outline: none;
}

.filter-items{
  width: 85%;
  margin: 5px;
  border: 1px solid #555;
  position: absolute;
  background-color: #fff;
  background-clip: padding-box;
  z-index: 5;
}

.clickable {
  cursor: pointer;
  margin-bottom: 10px !important;
  padding: 10px;
  border-left: 2px solid transparent;
}
.clickable:hover {
  border-left: 2px solid #155cb5;
}
.selected {
  border-left: 2px solid #003366 !important;
}
.task-row-2 {
  font-size: 15px;
}
.task-row-3 {
  font-size: 11px;
}

.actionable {
  color: #1a5a96;
  // text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
.task-header {
  font-size: 30px;
  font-weight: 600;
}
.task-name {
  font-size: 20px;
  font-weight: 400;
}
.modal-text{
  font-size: 13px;
  font-style: italic;
}
.add{
  color: #155cb5;
  font-size: 13px;
  cursor: pointer;
}
.text-color{
  color: black;
  width: 100%;
  padding: 2px 5px;
  outline: none;
  cursor: default;
}
.react-datepicker{
  width: max-content;
}
.added-filters{
  margin-top:1px;
}

.react-datepicker-popper{
  z-index:801;
}
