.not-selected {
  border: 3px solid var(--color-gray-500);
  padding: 10px;
  color: var(--color-gray-500);
  width: 100%;
}

.service-task-list {
  // box-shadow: 0 0 10px 5px var(--color-gray-400);
  clip-path: inset(0px -15px 0px 0px);
  max-height: 80vh;
  min-height: 80vh;
  position: relative;
  overflow-y: auto;
  padding-right: 15px;
  border-right: 1px solid var(--color-gray-400);
}
.service-task-details {
  min-height: 80vh;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.service-task-action{
  margin-bottom: -8px;
  font-size: 14px;

}

.handle-view-details{
  color: var(--color-primary-dkr);
  text-decoration: none;
}
.word-break{
  word-break: break-all;
}

.no-filter-img{
  height: 150px;

}

.task-attribute{
 margin-bottom: -2.5rem; 
}

.truncate-size{
  font-size: 14px;
}

.filter-listview{
  min-width: 700px;
}

.filter-list{
  margin-top: 45px;
}

.fs-16{
 font-size: 16px; 
}
.fs-18{
  font-size: 18px;
}
.mr-6{
  margin-right: 6px;
}
.assigned-user{
  font-size: 18px;
  margin-bottom: 3px;
}
.z-index{
  z-index: 9999;
}
.text-bottom{
  margin-bottom: 8px;
}
.group-icon{
  font-size: 40px;
  margin-right: 8px; 
}

.filter-container {
  position: relative;
  border: 1px solid var(--color-gray-700);
  border-radius: 5px;
  width: 100%;
  padding: 0;
  margin-bottom: 4px;
  .button {
    border: 1px solid var(--color-gray-700);
    background-color: var(--color-white);
    color: var(--color-gray-700);
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
    display: inline-block;
    font-size: 12px;
    font-family: Nunito Sans, SemiBold;
  }
  .name-value-container {
    font-size: 12px;
    margin-left: 5px;
    display: block;
  }

  .check-box-design {
    padding: 0px;
  }
  .filter-action-container {
    display: block;
    float: right;
    padding: 5px;
    .item-pos {
      padding: 5px;
    }
  }
}
.filter {
  width: 85%;
  margin: 5px;
  border: none;
  font-style: italic;
}

.filter:focus {
  outline: none;
}

.filter-items {
  //width: 85%;
  margin: 5px;
  border: 1px solid var(--color-gray-400);
  border-radius: 5px;
  position: absolute;
  background-color: var(--color-white);
  background-clip: padding-box;
  z-index: 5;
  border-radius: 0px;
  margin-top: 0px;
}

.filters {
  margin-top: 3px;
  border-color: var(--color-gray-700);
  //border: bold 1px solid;
}
.position-box {
  margin-left: 2.3rem;
}
.sort-items {
  border: 1px solid var(--color-gray-600);
  border-radius: 3%;
  position: absolute;
  background-color: var(--color-white);
  background-clip: padding-box;
  z-index: 5;
  padding: 5px;
  width: 12rem;
}
 
.variable-filter-item {
  padding: 5px;
  max-height: 250px;
  max-width: 250px;
  overflow: auto;
}
.clickable {
  cursor: pointer;
  margin-bottom: 10px !important;
  padding: 10px;
  // border-left: 2px solid transparent;
}
.clickable:hover:not(.selected) {
  border-left: 2px solid var(--color-primary-dkr) !important ;
}
.selected {
  border-left: 3px solid var(--color-primary-dkst) !important;
}

.font-size-16 {
  font-size: 16px;
  overflow-wrap: break-word;
}

.actionable {
  color: var(--color-primary-dkr);
  // text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  height: 71px;
  position: relative;
}
.task-header {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5em;
}

.modal-text {
  font-size: 13px;
  font-style: italic;
}
.add {
  color: var(--color-primary-dkr);
  font-size: 13px;
  cursor: pointer;
}
.text-color {
  color: var(--color-black);
  width: 100%;
  padding: 2px 5px;
  outline: none;
  cursor: default;
}
.react-datepicker {
  width: max-content;
}
#task-search-input.date-with-value .react-datepicker {
  right: 2rem;
}
#task-search-input .react-datepicker {
  right: 5.8rem;
}
.added-filters {
  margin-top: 1px;
}

.react-datepicker-popper {
  z-index: 801 !important;
}
.react-datepicker__close-icon {
  padding-right: 0;
}
.right-side {
  text-align: right;
  margin-right: 2em;
  align-self: flex-end;
}

.filter-details {
  background-color: var(--color-info-background);
  border-color: var(--color-info-background);
  // margin: 0.5em;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  padding: 0 0px 4px 8px;
  font-size: 14px;
  color: var(--color-primary-dkr);
  //border-radius: 5px;
  .close-btn {
    font-size: 12px;
    margin-right: 8px;
  }
  .condition-container {
    z-index: 2;
    display: block;
  }
  .btn-container {
    float: right;
    display: block;
    margin-right: 5.4rem;
  }

  .second-box {
    float: right;
    .second-inner-box {
      //margin-left: 10.3rem;
    }
  }
  .btn {
    background-color: var(--color-white);
    font-size: 12px;
    padding: 0 2px;
    border: 1px solid var(--color-gray-500);
    width: 28px;
    border-radius: 0px;
  }
  input {
    //border: none;
    outline: none;
    border: 1px solid;
    //border-color: var(--color-gray-700);
  }
  .close-container {
    position: absolute;
  }
  .box-container {
    position: relative;
    margin-left: 20px;
  }
  .list-span {
    position: none !important;
  }
}

.pagination-wrapper {
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-bottom: 1.3rem;

  .pagination {
    background-color: var(--color-white);
    li {
      border: 1px solid var(--color-gray-200);
      padding: 0 4px;
    }
    .active {
      background-color: var(--color-primary-dkr);
      a {
        color: var(--color-white);
      }
    }
    .disabled {
      cursor: not-allowed;
      a {
        cursor: not-allowed;
        color: var(--color-gray-600);
      }
    }
  }
}

.tab-width{
  width:12rem;
}
.task-variable-coloum{
  width:80rem;
}
.task-title-container{
  margin-left: -10px;
  margin-right: -10px;
}
.filter-name-textfeild{
  width: 90%;
  height: 44px;
  padding: 3%;
  border: 3px solid var(--color-gray-400);
  font-size: 18px;
}

.criteria-add-value-inputbox{
  width: 80%;
  height: 40px;
  padding: 3%;
  border: 3px solid var(--color-gray-400);
}

.access-all{
  margin-right: 4px;
}
.task-row{
  overflow: auto;
  max-height: 80vh;
}
.task-attr-row {
  min-height: 110px;
  margin-bottom: -2.5rem
}
.row-container {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  font-size: 14px;
}

.input-container {
  margin-right: 10px;
}

.varible-input-boxes {
  width: 90%;
  height: 35px;
  border: 3px solid var(--color-gray-400);
}

.fa.fa-minus-circle {
  cursor: pointer;
  font-size: 36px;
  color: var(--color-danger);
  margin-left: 17px;
}

.add-button-container {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  font-size: 14px;
}

.highlight {
  color: var(--color-primary-lt);
}

.cursor-pointer{
  cursor:pointer
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-box-shadow);
 z-index: 1500;
}

.icon-and-text {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the text and icon */
}
.react-datepicker__close-icon {
  padding: 0px !important ;
}

.filter-drop-down > .nav-link{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0px !important;
}
.filter-tooltip-icon {
  color: var(--color-primary);
}
.task-list{
  max-height: 60vh;
  overflow: auto;
}