# Author: Shibin Thomas
version: "3.7"

volumes:
  postgres:
  keycloak_custom_data:
  
networks:
  keycloak-server-network:
    driver: 'bridge'

services:
  keycloak-db:
    image: postgres:latest
    restart: always
    container_name: keycloak_db
    volumes:
      - ./postgres/keycloak:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${KEYCLOAK_JDBC_DB:-keycloak}
      POSTGRES_USER: ${KEYCLOAK_JDBC_USER:-admin}
      POSTGRES_PASSWORD: ${KEYCLOAK_JDBC_PASSWORD:-changeme}
    ports:
      - 5431:5432
    networks:
      - keycloak-server-network

  keycloak-customizations:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - keycloak_custom_data:/custom
    image: keycloak-custom:latest
    command: /bin/sh
    tty: true
    networks:
      - keycloak-server-network

  keycloak:
    image: quay.io/keycloak/keycloak:26.1.2
    container_name: keycloak
    restart: unless-stopped
    volumes:
      - keycloak_custom_data:/keycloak_custom_data
    depends_on:
      - keycloak-db
      - keycloak-customizations
    entrypoint: ["/bin/bash", "-c", "/keycloak_custom_data/start-keycloak.sh"]
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN_USER:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-changeme}
      KEYCLOAK_START_MODE: ${KEYCLOAK_START_MODE:-start-dev}
      KEYCLOAK_HTTP_PATH: ${KEYCLOAK_HTTP_PATH:-/auth}
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: ${KEYCLOAK_JDBC_DB:-keycloak}
      KC_DB_USERNAME: ${KEYCLOAK_JDBC_USER:-admin}
      KC_DB_PASSWORD: ${KEYCLOAK_JDBC_PASSWORD:-changeme}
      PUBLIC_PROCESS_START_URL: ${PUBLIC_PROCESS_START_URL}
      TENANT_REGISTRATION_CLIENT_ID: ${TENANT_REGISTRATION_CLIENT_ID}
      PROCESS_KEY: ${PROCESS_KEY}
      PROCESS_TENANT_KEY: ${PROCESS_TENANT_KEY}
    ports:
      - "8080:8080"
    networks:
      - keycloak-server-network