# Author: Shibin Thomas
version: "3.7"

volumes:
  postgres:
  
networks:
  keycloak-server-network:
    driver: 'bridge'

services:
  keycloak-db:
    image: postgres:latest
    restart: always
    container_name: keycloak_db
    volumes:
      - ./postgres/keycloak:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${KEYCLOAK_JDBC_DB:-keycloak}
      POSTGRES_USER: ${KEYCLOAK_JDBC_USER:-admin}
      POSTGRES_PASSWORD: ${KEYCLOAK_JDBC_PASSWORD:-changeme}
    ports:
      - 5431:5431
    networks:
      - keycloak-server-network

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    restart: unless-stopped
    container_name: keycloak
    volumes:
      - ./imports:/opt/keycloak/data/import
      - ./themes/formsflow:/opt/keycloak/themes/formsflow
      - ./start-keycloak.sh:/opt/keycloak/bin/start-keycloak.sh
    entrypoint: ["/bin/bash", "/opt/keycloak/bin/start-keycloak.sh"]
    environment:
      - DB_VENDOR=POSTGRES
      - DB_ADDR=keycloak-db
      - DB_PORT=5432
      - DB_DATABASE=${KEYCLOAK_JDBC_DB:-keycloak}
      - DB_USER=${KEYCLOAK_JDBC_USER-admin}
      - DB_PASSWORD=${KEYCLOAK_JDBC_PASSWORD:-changeme}
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USER:-admin}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-changeme}
      - KEYCLOAK_START_MODE=${KEYCLOAK_START_MODE:-start-dev}
      - KEYCLOAK_HTTP_PATH=${KEYCLOAK_HTTP_PATH:-/auth}

    ports:
      - "8080:8080"
    links:
      - keycloak-db
    networks:
      - keycloak-server-network
   
