# Author: Shibin Thomas
version: "3.7"

volumes:
  postgres:
  postgres_keycloak:
  keycloak_custom_data:
  
networks:
  keycloak-server-network:
    driver: 'bridge'

services:
  keycloak-db:
    image: postgres:latest
    restart: always
    container_name: keycloak_db
    volumes:
      - postgres_keycloak:/var/lib/postgresql
    environment:
      POSTGRES_DB: ${KEYCLOAK_JDBC_DB:-keycloak}
      POSTGRES_USER: ${KEYCLOAK_JDBC_USER:-admin}
      POSTGRES_PASSWORD: ${KEYCLOAK_JDBC_PASSWORD:-changeme}
    ports:
      - 5431:5432
    networks:
      - keycloak-server-network

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.1
    restart: unless-stopped
    container_name: keycloak
    volumes:
      - keycloak_custom_data:/keycloak_custom_data
    entrypoint: ["/bin/bash", "-c", "/keycloak_custom_data/start-keycloak.sh"]
    environment:
      - KC_DB=postgres
      - KC_DB_URL_HOST=keycloak-db
      - KC_DB_URL_PORT=5432
      - KC_DB_URL_DATABASE=${KEYCLOAK_JDBC_DB:-keycloak}
      - KC_DB_USERNAME=${KEYCLOAK_JDBC_USER:-admin}
      - KC_DB_PASSWORD=${KEYCLOAK_JDBC_PASSWORD:-changeme}
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USER:-admin}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-changeme}
      - KEYCLOAK_START_MODE=${KEYCLOAK_START_MODE:-start-dev}
      - KEYCLOAK_HTTP_PATH=${KEYCLOAK_HTTP_PATH:-/auth}
      - FF_ADMIN_API_URL=${FF_ADMIN_API_URL:-http://localhost:5010}
      - FF_KEYCLOAK_PUBLIC_URL=${FF_KEYCLOAK_PUBLIC_URL}
    ports:
      - "8080:8080"
    depends_on:
      - keycloak-db
      - keycloak-customizations
    networks:
      - keycloak-server-network

  keycloak-customizations:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - keycloak_custom_data:/custom
    command: |
      /bin/sh -c "
      if [ -f /custom/imports/formsflow-ai-realm.json ]; then
        echo 'Renaming realm file to correct name...'
        mv -f /custom/imports/formsflow-ai-realm.json /custom/imports/forms-flow-ai-realm.json
      fi
      # Keep container alive for debugging
      tail -f /dev/null
      "
    tty: true
    stdin_open: true    
    networks:
      - keycloak-server-network