@import "./../../assets/styles/themes.scss";

.dashboard {
  background: #f3f3f3;
  margin-top: 40px;
  & .line-hr {
    border-top: 1px solid $yellow;
  }
  & .card-counter {
    width: 100%;
    margin: 25px 0px;
    & .white-box {
      background: $white;
      padding: 25px;
      margin-bottom: 30px;
      cursor: pointer;
      &.active {
        background-color: $green !important;
        color: $white;
        & .small-title {
          font-size: 12px;
          color: $white;
        }
      }
      & .box-title {
        margin: 0 0 12px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }
      & .two-part {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: normal;
        & .counter {
          font-size: 38px;
        }
      }
    }
  }
  & .progress {
    height: 12px;
  }
  & .progress-bar {
    transition: all 4s ease;
    transition-delay: 1s;
  }
  & .application-title {
    margin-bottom: -5px;
    color: $primary-blue;
  }
  & .dashboard-title {
    color: $primary-blue;
  }

  & .app-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .react-daterange-picker__wrapper {
    color: #036;
    padding: 5px;
    border: 1px solid white;
    background: white;
    & input {
      color: #036;
    }
  }
  & .status-container {
    display: flex;

    & .legent-container {
      display: flex;
      align-self: center;
      flex-direction: row;
      flex-wrap: wrap;
      & .legent {
        width: 50%;
        min-height: 45px;

        & .legent-color {
          width: 40px;
          height: 30px;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
  & .form-card-counter {
    & .counter {
      font-size: 42px;
      text-align: center;
    }
    & .form-title {
      text-align: center;
      color: #9eabc0 !important;
    }
    .submission-counter {
      display: flex;
      justify-content: space-between;
      & .name {
        font-size: 28px;
        align-self: center;
      }
    }
    .small-title {
      font-size: 12px;
      color: #9eabc0;
    }
  }
}

// .status-counter {
//   & .card {
//     & .card-title {
//       position: relative;
//       font-weight: bold;
//       margin-bottom: 10px;
//       color: #212529;
//     }
//   }
//   & .stataus-progress {
//     padding-left: 65px;
//     & .border-left-line:not(:last-child) {
//       border-left: 1px dotted #82868c;
//       position: relative;
//     }
//     & .border-left-line .btn-item {
//       z-index: 1;
//       margin-left: -45px;
//     }
//     & .btn-circle,
//     .btn-circle-lg {
//       border-radius: 100%;
//       width: 90px;
//       height: 90px;
//       line-height: 20px;
//       display: flex;
//       align-items: center;
//       vertical-align: middle;
//       justify-content: center;
//       color: $white;
//       font-size: 27px;
//     }
//     & .btn-circle-new {
//       border-radius: 100%;
//       width: 150px;
//       height: 150px;
//       line-height: 20px;
//       display: flex;
//       align-items: center;
//       vertical-align: middle;
//       justify-content: center;
//       color: $white;
//       font-size: 27px;
//     }
//   }
//   & .status-title {
//     display: flex;
//     justify-content: center;
//     align-self: center;
//     align-items: center;
//     margin-left: 20px;
//   }
//   .no-border-left-line {
//     width: 40%;
//     float: left;
//   }

//   & .white-box {
//     background: $white;
//     padding: 25px;
//     margin-bottom: 30px;
//     & .box-title {
//       margin: 0 0 12px;
//       font-weight: 500;
//       text-transform: uppercase;
//       font-size: 18px;
//       font-weight: bold;
//     }
//     & .two-part {
//       display: flex;
//       justify-content: space-between;
//       font-size: 13px;
//       font-weight: normal;
//       & .counter {
//         font-size: 38px;
//       }
//     }
//   }
// }
