@import "./../../assets/styles/themes.scss";

.dashboard {
  background: #f3f3f3;
  margin-top: 40px;
  & .line-hr {
    border-top: 1px solid $yellow;
  }
  & .card-counter {
    width: 100%;
    margin: 25px 0px;
    & .white-box {
      background: $white;
      padding: 25px;
      margin-bottom: 30px;
      & .box-title {
        margin: 0 0 12px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }
      & .two-part {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: normal;
        & .counter {
          font-size: 38px;
        }
      }
    }
  }
  & .progress {
    height: 12px;
  }
  & .application-title {
    margin-bottom: -5px;
    color: $primary-blue;
  }
  & .dashboard-title {
    color: $primary-blue;
  }
}

#app {
  background: #f3f3f3;
}
