@import "./../../assets/styles/themes.scss";

.dashboard {
  background: $white;
  margin-top: 10px;
  & .line-hr {
    border-top: 1px solid $light-blue;
  }
  & .card-counter {
    width: 100%;
    margin: 25px 0px;
    & .white-box {
      background: $white;
      border: 1px solid $light-blue;
      padding: 25px;
      margin-bottom: 30px;
      cursor: pointer;
      &.active {
        background-color: $green !important;
        color: $white;
        & .small-title {
          font-size: 12px;
          color: $white;
        }
      }
      & .box-title {
        margin: 0 0 12px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }
      & .two-part {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: normal;
        & .counter {
          font-size: 38px;
        }
      }
    }
  }
  & .progress {
    height: 12px;
  }
  & .progress-bar {
    transition: all 4s ease;
    transition-delay: 1s;
  }
  & .application-title {
    margin-bottom: -5px;
    color: $black;
  }
  & .dashboard-title {
    color: $black;
  }
  & .dashboard-icon-style {
    height: 27px;
    width: 27px;
    margin-bottom: 6px;
    margin-right: 5px;
  }
  & .app-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .react-daterange-picker__wrapper {
    color: $black;
    padding: 5px;
    border: 1px solid $black;
    background: $white;
    & input {
      color: #036;
    }
    & select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
      color: #036;
    }
    & .react-daterange-picker__range-divider {
      margin: 0 15px;
    }
  }
  & .status-container {
    display: flex;

    & .legent-container {
      display: flex;
      align-self: center;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid $black;
      padding: 30px;
      border-radius: 10px;
      & .legent {
        width: 50%;
        min-height: 45px;

        & .legent-color {
          width: 40px;
          height: 30px;
          float: left;
          margin-right: 10px;
        }
        & .legent-text {
          text-transform: capitalize;
        }
      }
    }
  }
  & .form-card-counter {
    & .counter {
      font-size: 42px;
      text-align: center;
      font-weight: bold;
    }
    & .form-title {
      text-align: center;
      color: #9eabc0 !important;
    }
    .submission-counter {
      display: flex;
      justify-content: space-between;
      & .name {
        font-size: 28px;
        align-self: center;
        width: 60%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .small-title {
      font-size: 12px;
      color: #9eabc0;
    }
  }
  .no-data-submission {
    margin-top: 5%;
  }
}
