.dashboard {
   margin-top: 10px;

  & .line-hr {
    border-top: 1px solid var(--color-primary-ltr);
  }

  & .card-counter {
    width: 100%;
    margin: 25px 0px;
    transition: 1s;

    & .white-box {
      background: var(--color-white);
      border: 1px solid var(--color-primary-ltr);
      padding: 25px;
      margin-bottom: 30px;
      font-size: larger;
      cursor: pointer;

      &.active,
      &:hover {
        background-color: var(--color-primary-dkst) !important;
        color: var(--color-white);

        & .small-title {
          font-size: 16px;
        }
      }

      & .box-title {
        margin: 0 0 12px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }

      & .two-part {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: normal;

        & .counter {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }

  & .progress {
    height: 12px;
  }

  & .progress-bar {
    transition: all 4s ease;
    transition-delay: 1s;
  }

  & .application-title {
    margin-bottom: -5px;
    color: var(--color-black);
  }

  & .dashboard-title {
    color: var(--color-black);
  }

  & .dashboard-icon-style {
    height: 27px;
    width: 27px;
    margin-bottom: 6px;
    margin-right: 5px;
  }

  & .app-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .react-daterange-picker__wrapper {
    color: var(--color-black);
    padding: 5px;
    border: 1px solid var(--color-black);
    background: var(--color-white);

    & input {
      color:  var(--color-primary-dkst);
    }

    & select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
      color:  var(--color-primary-dkst);
    }

    & .react-daterange-picker__range-divider {
      margin: 0 15px;
    }
  }

  & .status-container {
    display: flex;

    & .legent-container {
      display: flex;
      align-self: center;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid var(--color-black);
      padding: 30px;
      border-radius: 10px;

      & .legent {
        width: 50%;
        min-height: 45px;

        & .legent-color {
          width: 40px;
          height: 30px;
          float: left;
          margin-right: 10px;
        }

        & .legent-text {
          text-transform: capitalize;
        }
      }
    }
  }

  & .form-card-counter {
    & .counter {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }

    & .form-title {
      font-size: 16px !important;
      font-weight: 700 !important;
    }

    .submission-counter {
      display: flex;
      justify-content: space-between;

      & .name {
        font-size: 28px;
        align-self: center;
        width: 60%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .small-title {
      font-size: 16px;
      font-weight: 400;
      margin-left: 5px;
      margin-top: 12px;
    }
  }

  .no-data-submission {
    margin-top: 5%;
  }
}


.custom-input-group{
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.form-select {
  width: 80px;
  height: 35px;
  border-radius: 3px;
  border-color: var(--color-primary-ltst);
}

.dashboard-sort{
  font-size: 20px;
}

.dashboard-height{
  min-height: 60vh;
}

.date-select {
  width: 150px;
  height: 45px;
  cursor: pointer;
}


.no_submission_main {
  min-width: 100%;
}

.no_sumbsmission {
  margin-left: 30rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}









