name: Deploy to Dev environment
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
    working-directory: .
jobs:
  deploy-to-dev:
    if: github.repository == 'AOT-Technologies/forms-flow-ai'
    runs-on: ubuntu-latest
    environment: 'dev'
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Set version
        if: ${{ github.ref != 'refs/heads/master' }}
        working-directory: .
        run: |
          VER=$(cat VERSION)
          echo "VERSION=$VER" >> $GITHUB_ENV
      
      - name: Set version
        if: ${{ github.ref == 'refs/heads/master' }}
        working-directory: .
        run: |
          VER=$(cat VERSION)
          VER=${VER/-alpha/''}
          echo "VERSION=$VER" >> $GITHUB_ENV
      
      - run: echo ${{ env.VERSION }}
      
      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_DEPLOYMENT_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEPLOYMENT_SECRET_ACCESS_KEY }}
          aws-region: ca-central-1
      
      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -Ls https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/
      
      - name: Update Kube config
        run: aws eks update-kubeconfig --region ca-central-1 --name ${{ secrets.DEV_EKS_CLUSTER }}
      
      - name: Deploy to Dev
        run: |
          kubectl -n ${{ secrets.DEV_NAMESPACE }} patch deployment forms-flow-api -p '{"spec":{"template":{"spec":{"containers":[{"name":"forms-flow-api","image":"docker.io/formsflow/forms-flow-webapi:${{ env.VERSION }}"}]}}}}'
          kubectl -n ${{ secrets.DEV_NAMESPACE }} patch deployment forms-flow-bpm -p '{"spec":{"template":{"spec":{"containers":[{"name":"forms-flow-bpm","image":"docker.io/formsflow/forms-flow-bpm:${{ env.VERSION }}"}]}}}}'
          kubectl -n ${{ secrets.DEV_NAMESPACE }} patch deployment forms-flow-data-layer -p '{"spec":{"template":{"spec":{"containers":[{"name":"forms-flow-data-layer","image":"docker.io/formsflow/forms-flow-data-layer:${{ env.VERSION }}"}]}}}}'
          kubectl -n ${{ secrets.DEV_NAMESPACE }} patch deployment forms-flow-documents-api -p '{"spec":{"template":{"spec":{"containers":[{"name":"forms-flow-documents-api","image":"docker.io/formsflow/forms-flow-documents-api:${{ env.VERSION }}"}]}}}}'
          kubectl -n ${{ secrets.DEV_NAMESPACE }} patch deployment forms-flow-web -p '{"spec":{"template":{"spec":{"containers":[{"name":"forms-flow-web","image":"docker.io/formsflow/forms-flow-web:${{ env.VERSION }}"}]}}}}'
          kubectl rollout restart deployment forms-flow-api -n ${{ secrets.DEV_NAMESPACE }}
          kubectl rollout restart deployment forms-flow-bpm -n ${{ secrets.DEV_NAMESPACE }}
          kubectl rollout restart deployment forms-flow-data-layer -n ${{ secrets.DEV_NAMESPACE }}
          kubectl rollout restart deployment forms-flow-documents-api -n ${{ secrets.DEV_NAMESPACE }}
          kubectl rollout restart deployment forms-flow-web -n ${{ secrets.DEV_NAMESPACE }}