name: Forms Flow Web CI

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - master
      - release/**
    paths:
      - "forms-flow-web/**"
      - "VERSION"
  pull_request:
    branches:
      - develop
      - master
      - release/**
    paths:
      - "forms-flow-web/**"

defaults:
  run:
    shell: bash
    working-directory: ./forms-flow-web

jobs:
  setup-job:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v2
      - run: "true"

  Lint:
    needs: setup-job
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version: [16.20.0]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci
      - name: Linting
        run: |
          npm run lint
  # Test:
  #   if: Always()
  #   needs: setup-job
  #   runs-on: ubuntu-24.04

  #   strategy:
  #     matrix:
  #       node-version: [16.20.0]

  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Use Node.js ${{ matrix.node-version }}
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: ${{ matrix.node-version }}
  #     - name: Install dependencies
  #       run: |
  #         npm ci
  #     - name: Unit Test
  #       id: test
  #       run: |
  #         npm test a

  Build:
    if: always()
    needs: setup-job
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [16.20.0]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci
      - name: build to check strictness
        id: build
        run: |
          npm run build
