name: Push Forms flow BPM to registry

on:
  workflow_dispatch:
  push:
    branches: [ master, develop ]
    paths:
      - "forms-flow-bpm/**"

defaults:
  run:
    shell: bash
    working-directory: ./forms-flow-bpm
    
jobs:
  build-and-push-image-to-dockerhub:
    if: github.event_name == 'push' && github.repository == 'AOT-Technologies/forms-flow-ai'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image: formsflow/forms-flow-bpm
            context: forms-flow-bpm
            dockerfile: Dockerfile
            name: forms-flow-bpm
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: Set version
        if: ${{ github.ref != 'refs/heads/master' }}
        working-directory: .
        run: |
          VER=$(cat VERSION)
          echo "VERSION=$VER" >> $GITHUB_ENV

      - name: Set version
        if: ${{ github.ref == 'refs/heads/master' }}
        working-directory: .
        run: |
          VER=$(cat VERSION)
          VER=${VER/-alpha/''}
          echo "VERSION=$VER" >> $GITHUB_ENV
      
      - run: echo ${{ env.VERSION }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ matrix.image }}
          tags: ${{ env.VERSION }}

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          # registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ matrix.name }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ matrix.name }}

      - name: Build and push Docker image
        if: ${{ github.ref != 'refs/heads/master' }}
        uses: docker/build-push-action@v2
        with:
          context: forms-flow-bpm
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push Docker image
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: docker/build-push-action@v2
        with:
          context: forms-flow-bpm
          push: true
          tags: ${{ steps.meta.outputs.tags }}, formsflow/forms-flow-bpm:latest
          labels: ${{ steps.meta.outputs.labels }}
